[2019-08-04 09:14] poovarasanvasudevan opened #1 "IOS widgets margin in bottom"
i am using this for ios cuppertino widgets
all working fine but there is little margin at the bottom

![image](https://user-images.githubusercontent.com/8036283/62421852-86b91100-b65d-11e9-9da1-9bb7b2d3682b.png)

Code :
[code]

[2019-08-05 02:07] fayeed commented on #1
You are actually adding a Text widget below the input tool bar by overriding the `inputFooterBuilder` try removing it or maybe give some style to it.

[2019-08-05 08:05] fayeed commented on #1
@poovarasanvasudevan The reason you are getting the problem is I have hardcoded a height value if no height is supplied, which is based after android i.e `screen height - 80.0` which results in a weird space below the input toolbar because of the `CupertinoNavigationBar` height is less, I forgot to change the code so I will update it later, in the meantime you could do something like this.

Define

[2019-08-06 07:04] Wizpna opened #2 "dash_chat producing an error when i tried to run the program"
Thanks for the lovely plugin.

I downloaded the project and while trying to run the project on my computer, I received an error message and the project did not complete.

This is the error message
![image](https://user-images.githubusercontent.com/15036164/62518143-bf551800-b820-11e9-9e30-1bb5d6d165f5.png)

[2019-08-06 09:49] fayeed commented on #2
Can you provide some code and also which version of `dash_chat`, flutter version you are using so that I could investigate the problem.

[2019-08-06 19:05] Wizpna commented on #2
Thanks for your feedback.

**This is the code I added to my pubspec.yaml file:**

dependencies:
  dash_chat: ^1.0.4

**While this code was what I added to my main.dart file.**

import 'dart:async';

import 'package:dash_chat/dash_chat.dart';
import 'package:flutter/material.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  // This widget is the root of your applicati

[2019-08-07 11:44] fayeed commented on #2
Hey, I don't think this is a problem with the package as I tried reproducing it but everything seems fine. What steps did you take that leads to this error. Are you running the example provided in the package if so there's no need to add `dash_chat` in dependencies

[2019-08-07 22:00] Wizpna commented on #2
Thanks for your feedback.

This is the link to my chatbot repository [https://github.com/Wizpna/chatbot](url)

When I run the project, I receive his error message:

Compiler message:
file:///C:/flutter/.pub-cache/hosted/pub.flutter-io.cn/dash_chat-1.0.4/lib/src/chat_input_toolbar.dart:97:21: Error: No named parameter with the name 'showCursor'.
                    showCursor: showInputCursor,

[2019-08-08 04:29] fayeed commented on #1
@poovarasanvasudevan I going to close this issue now if you have some other problem feel free to create a new issue.

[2019-08-08 04:29] #1 closed

[2019-08-08 09:00] fayeed commented on #2
Hey just checked you repository and everything works fine. I think this is something to with your flutter installation. Anyways, since this is not related to this package I am going to close this issue now.

[2019-08-08 09:00] #2 closed

[2019-09-18 16:53] edianogama opened #3 "Is there any away to show label for days ?"
Hi fayeed,
I need show a label for date messages like **whatsapp** from firebase.
**june1**
message1,
message2,
message3
**june2**
message1,
message2,
message3,

[code]
How would i do that ?

[2019-09-18 17:39] fayeed commented on #3
Dash chat includes this behavior by default you can check the example in example folder for more detail:

<img src="https://media.giphy.com/media/ghBkB5BHQgdhamZ2WA/giphy.gif"/>

[2019-09-19 01:36] edianogama commented on #3
I see, I had a test yesterday at 22pm and this morning, and the label didn't show up.
I tested now at 22pm and apparently it counted at 24 hours of the previous. I do not know for sure.
I believe it may be something set by the time zone.
Is there something like that in the settings? and something related to language?
Thank you, the other things, I managed to implement and thank you very much for y

[2019-09-19 04:30] fayeed commented on #3
It could be that one user might be in different timezone and another in another timezone that might lead to this problem, if thats the case I suggest you do the timezone conversion manually as you receive the message.

[2019-09-20 02:00] edianogama commented on #3
thanks for suggestion.

[2019-09-20 02:00] #3 closed

[2019-09-27 00:29] edianogama opened #4 "scrollToBottom"
**Describe the bug**
Hello again Fayeed.
I really liked the UI, so I don't want to abandon it. But I have a problem.

How can I disable scrollToBottom ?
[code]
When set   **scrollToBottom to  false,** nothing happens, the button keeps appearing;

**Why am i wanting this?**
Because when sending messages, sometimes a bug happens and it can't go to the bottom of the automated scroll.
And The distance

[2019-10-01 19:23] Vidar88 commented on #4
The scrollToBottom widget always appears because it isn't checked whether to show that thing in this line:

https://github.com/fayeed/dash_chat/blob/bda884ab001d48d3730bcdcf6dcef71bfc6e4e06/lib/src/chat_view.dart#L293

It is always created and stays on top of everything even if you leave the chat screen in my app.

I created my own instance of the chat view and fixed it by adding:

`if (this._over

[2019-10-04 14:37] fayeed commented on #4
@edianogama Just updated the package to version `1.0.5`, it includes the solution @Vidar88 mentioned and also includes some more fixes to the UI and performance improvements. And also added a better example in the `example/` folder.

[2019-10-06 00:25] edianogama commented on #4
@Vidar88 Hi, thank you very much for your response to the topic and for passing the solution.
And Thanks to the @fayeed  for placing the adjustment.  I upgraded here and it worked!
**clapping!!**

[2019-10-06 00:26] #4 closed

[2019-10-17 06:59] winsdom123456 opened #5 "When message too long"
When message too long, it will show as follow

![Simulator Screen Shot - iPhone 8 - 2019-10-17 at 14 56 55](https://user-images.githubusercontent.com/2950686/66985042-88d42d00-f0ee-11e9-9d9f-d16653d95e74.png)

[2019-10-19 12:13] poovarasanvasudevan opened #6 "IOS layout Issue"
I am using with IOS it gives different behaviour, input is hidden at the botton

![image](https://user-images.githubusercontent.com/8036283/67144742-d2ac4700-f297-11e9-8a46-9aa839d331c1.png)

Then i tried to added safearea
![image](https://user-images.githubusercontent.com/8036283/67144748-e0fa6300-f297-11e9-9061-e387a8539233.png)

My code look like this
[code]

[2019-10-19 14:03] fayeed commented on #5
@winsdom123456 Thanks for reporting this issue, I investigated it and it only turns up in small phones I have fixed this and release a patched version `1.0.6` try this and let me know if you face any problem.

[2019-10-21 02:56] thevzurd commented on #5
I tried the 1.0.6 version. Still seems to be an issue.

![image](https://user-images.githubusercontent.com/31169070/67173459-ce158a80-f38c-11e9-8549-3fd6dabd606f.png)

[2019-10-21 03:52] winsdom123456 commented on #5
@fayeed YES, I have tried the smallest phone, and it is OK now, thanks!

[2019-10-21 03:54] winsdom123456 commented on #5
@thevzurd You should make sure you are using the version 1.0.6, I think it will be OK, wait for your result

[2019-10-21 14:36] thevzurd commented on #5
@fayeed @winsdom123456 , no the fix is still not working for me. :(

[2019-10-22 06:27] winsdom123456 commented on #5
@fayeed Oh, I found this bug again in debug version. I found it is OK in profile version, but not in debug version in small iPhone, you can have a try.

[2019-10-22 11:17] fayeed commented on #5
@winsdom123456 @thevzurd thanks I will take a look at it once more, anyway what devices did you guys saw this issue?

[2019-10-22 16:32] thevzurd commented on #5
@fayeed I use Moto X, Android version 5.1

[2019-10-22 16:33] thevzurd commented on #5
@fayeed also in my screenshot, why do you this there is space below the text ?

[2019-10-22 17:21] fayeed commented on #5
@thevzurd @winsdom123456 The problem was the avatar container was not responsive that is it had a fixed height & width of `40.0` which would create problems is small devices. Anway I have fixed the issue and released a new version `1.0.7`.

[2019-10-22 17:22] fayeed commented on #6
@poovarasanvasudevan I just released a new version for the package `1.0.7` and it has two new properties `inputToolbarPadding` & `inputToolbarMargin` which you can use to add padding & margin to the input container.

[2019-10-22 17:25] fayeed commented on #5
@thevzurd As for the extra space that is visible in the image below the text I am not able to reproduce it.

[2019-10-22 18:47] thevzurd commented on #5
![image](https://user-images.githubusercontent.com/31169070/67319305-bfd58480-f4da-11e9-9185-2eb86cdf4198.png)

@fayeed still the same issue. I notice that the avatar has shrunken in size.

[2019-10-22 18:48] thevzurd commented on #5
I think ListTile widget should help you solve this issue, because it is responsive by design. The avatar will come in leading and the chat message + the time stamp will come in the tilte/subtitle.

[2019-10-22 18:53] fayeed commented on #5
@thevzurd I just tested on a device with 240x432 resolution and also a 480x800 and it works perfectly.

![Screenshot_1571763596](https://user-images.githubusercontent.com/8464270/67319875-21bdda80-f52b-11e9-9cfb-7b0359c8c79c.png)
240x432

![Screenshot_1571763007](https://user-images.githubusercontent.com/8464270/67319910-30a48d00-f52b-11e9-9a56-87233526b135.png)
480x800

Can you show me your code?

[2019-10-22 19:03] thevzurd commented on #5
[code]

[2019-10-22 19:27] fayeed commented on #5
@thevzurd so there are two things first is that empty space below the text message it is because you are setting the `image` and `vedio` property of `ChatMessage` to empty string it needs to be `null`.

The second problem is that you are setting the `showUserAvatar` to `true` which was breaking the UI anway I have fixed that too, checked the new version `1.0.8`.

[2019-10-22 19:34] thevzurd commented on #5
![image](https://user-images.githubusercontent.com/31169070/67324156-602ea780-f4e1-11e9-85d5-1b5b9e75fad3.png)

Working now... thanks

[2019-10-23 08:50] #5 closed

[2019-11-05 14:52] lchoua opened #7 "ScrollController not attached to any scroll views"
When we set ScrollController property we have an exception telling us:

[code]
We think that the problem is you use the default scrollController in chat_view.dart (initState) instead of our scrollController.

**Flutter doctor:**
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.9.1+hotfix.6, on Linux, locale es_AR.UTF-8)

[✓] Android toolchain - develop fo

[2019-11-08 17:47] fayeed commented on #7
Hi @lchoua Thanks for notifying me about this issue, I have taken a look at the problem, I deploy fix it might take me a couple of days though. If you can fix this feel free to create a pull request.

[2019-11-13 15:08] fayeed commented on #7
@lchoua Just fixed this issue try version `1.0.9`

[2019-11-14 01:07] ratinggorilla commented on #6
@fayeed I really iike your hardwork. There is a minor spell error I want you correct. Since I don't think its a major issue, I didn't want to open a new issue.

1) Vedio => Video

[2019-11-21 22:40] diegogarciar commented on #6
hey @poovarasanvasudevan how did you added the maring/paddinng for iPhone X devices only? and what margin/padding amount did you used?

[2019-11-21 22:54] diegogarciar commented on #6
anyways...  I ended up using inputFooterBuilder to get the margin and also show continuity all the way to the bottom
[code]

[2019-11-25 17:40] PolymathWhiz commented on #6
I did something like this on the height property:

`MediaQuery.of(context).size.height < 700
                ? MediaQuery.of(context).size.height - 80
                : MediaQuery.of(context).size.height - 120.0,`

700 and below is for iPhone 8 and below

[2019-11-25 17:46] PolymathWhiz opened #8 "Displaying the current user messages on the right hand side"
How can I display the message of the current user on the right-hand side of the screen? I see it on your demo but can't find a way to implement it.

[2019-11-25 17:52] fayeed commented on #8
The `ChatMessage` objects `user` property should match with the `DashChat` user property:

There is your chat message:
[code]

with this:
[code]

Most importantly the `uid` of `ChatUser` should be the same.

[2019-11-25 17:54] PolymathWhiz commented on #8
Awesome! my issue has been fixed. Thanks!

[2019-11-25 17:54] #8 closed

[2019-11-28 09:42] #7 closed

[2019-11-28 09:58] Lionelvsv opened #9 "Input footer hidden on keyboard popup"
the widget  inside the input  footer are hidden  when  virtual keyboard is active
![Screenshot 2019-11-28 at 3 26 51 PM](https://user-images.githubusercontent.com/10217987/69796170-8d165e80-11f3-11ea-8942-3fab612ef3d3.png)
![Screenshot_1574514861](https://user-images.githubusercontent.com/10217987/69796171-8d165e80-11f3-11ea-810e-2ae553ad4e29.png)

  inputFooterBuilder: () {
return Column(

[2019-12-05 17:43] iapon opened #10 "Scroll problem."
Hello, I have a problem with the widget, after I close the keyboard, widget scrolls with the page, see image below
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/6642068/70259465-4a2e2b00-179f-11ea-88ec-4d0fd60b3d31.gif)

How i can beat this behavior?
my code is
[code]

[2019-12-05 18:11] SushiRoll53 opened #11 "This is not a bug, I just do not understand how to replace the default sendButtonBuilder"
I was using the example and everything is working flawlessly, but then I try to change the default icon send but it ask for a specific time and I am not sure on how to create a type Widget Function(Function)
Could someone illustrate me. I do not need to modify the functionality, just the icon colors.

[2019-12-08 16:27] PolymathWhiz commented on #11
One way i'll suggest is to change it from the core code to fit what you want

[2019-12-08 16:35] fayeed commented on #11
@SushiRoll53 Its really simple you create a function that returns a widget and the function you see a parameter is actually the `onSend` function you passed to the Dashchat.

Here's an example:
[code]

[2019-12-08 16:38] PolymathWhiz commented on #11
Much better

[2019-12-09 17:21] SushiRoll53 commented on #11
Cool it seems easy, I tried as the following, I had to make some modifications so I was able to run a test
[code]
and the icon does not get replace it.
Do you have another way I can try to solve this?

[2019-12-09 22:43] SushiRoll53 commented on #11
It's me again, for the record I managed to solve with some help, here it is how I could fix it
[code]
I'm gonna close it, thank you for your responses.

[2019-12-09 22:43] #11 closed

[2019-12-11 05:52] emadd opened #12 "dateFormat not working"
The dateFormat attribute of the DashCat widget doesn't appear to affect the date headers

[2019-12-11 06:32] emadd opened #13 "ChatMessage not cleared after calling onSend"
After submitting a new message (onSend), the widget does not reset the state of the send button and will continue to send the last text entered every time it is clicked

[2019-12-11 06:35] emadd opened #14 "Make the "Scroll to Bottom" button optional"
Really love what you've done here.  Would be very nice if one could make the scroll to bottom button optional.  Thank you!

[2019-12-11 06:52] fayeed commented on #14
@emadd "Scroll to Bottom" button is optional you can use the property `scrollToBottom` to disable it.
Default is `true`.

[2019-12-11 15:05] #14 closed

[2019-12-12 14:41] Lionelvsv commented on #13
you should  overrride the  default text input  and  use  onTextChange to  update  the input

`
void onSend(ChatMessage message) {
    setState(() {
      widget.channel.sink.add(jsonEncoder.convert(msg));
    });
    _msg = '';
  }

 void onTextChange(String text) {
    setState(() {
      this._msg = text;
    });
  }

DashChat(
                text: _msg,
                onTextChange: onTextChan

[2019-12-25 22:26] emmett-deen opened #16 "Static Input Bar"
**Is your feature request related to a problem? Please describe.**
Right now when using Dash Chat the input bar scrolls away when scrolling through the chat. Most chat systems today have a static chat bar so you can start typing while looking at other chats. I also get frustrated when using the current input bar because it has padding/margin issues when working on iPhone or if I want a bottom navi

[2019-12-25 22:34] emmett-deen opened #17 "Ability to @mention"
**Is your feature request related to a problem? Please describe.**
I would like to be able to @mention people in chat. This may be overkill for a drop in solution but would be very nice to have.

**Describe the solution you'd like**
When '@' is typed to prompt a list (can be provided to dash chat constructor) of Chat Users and as more letters are typed filter by the display name. Also make these n

[2019-12-30 17:14] DigitalSolomon commented on #6
Has this issue been resolved?

[2020-01-08 00:53] develbass opened #18 "ChatMessage() with onTap"
ChatMessage() does not have the onTap() event, it is important for a message like localization that needs to open the map.

[2020-01-08 03:56] gopalindians opened #19 "Das chat example app showing progress indicator infinitely"
**Dash chat showing loader infinitely**
I have cloned the example app, when tried to run it is howing infinite loader.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[https://github.com/fayeed/dash_chat/tree/master/example](https://github.com/fayeed/dash_chat/tree/master/example)'
2. clone or copy 'example code'
3. Run flutter using  'flutter run'
4. See
![photo6102632204283783475](h

[2020-01-08 04:21] fayeed commented on #19
@gopalindians You will need to add firebase configuration files to the project.

[2020-01-08 07:16] #19 closed

[2020-01-08 22:08] yoyoyo11 commented on #16
@emmett-deen Were you able to find a solution to make the Input bar static? I could use some guidance on how to fix. Thanks!

[2020-01-12 14:47] fayeed commented on #10
@iapon Just fixed this you can check the `v1.0.11`, it also includes few more fixes.

[2020-01-12 14:47] fayeed commented on #13
@emadd  Just fixed this you can check the `v1.0.11`, it also includes few more fixes.

[2020-01-12 14:48] fayeed commented on #12
@emadd  Just fixed this you can check the `v1.0.11`, it also includes few more fixes.

[2020-01-12 14:51] fayeed commented on #17
@emmett-deen Great idea, I think this would be a great package on its own maybe something like [react-mentions](https://github.com/signavio/react-mentions) and this would also work great with [flutter_parsed_text](https://github.com/fayeed/flutter_parsed_text).

I will work on this when I get some free time.

[2020-01-12 14:55] fayeed commented on #16
@emmett-deen I think this issue is similar to #10 If it is then I have fixed it you can check `v1.0.11`.

[2020-01-12 15:02] fayeed commented on #18
@develbass I think a better way would be to have a separate property for locations coordinates in `ChatMessage` object and based on this show a Map in the message and an `onTapMap` property to interact with it.

[2020-01-12 19:17] emmett-deen commented on #16
I will check it out!

[2020-01-20 15:55] AshrafLP opened #21 "Doesn't work at all"
when I click on the TextField, an error occurred and can't type within the TextField.

this is the error message :

I/flutter (  568): ══╡ EXCEPTION CAUGHT BY FOUNDATION LIBRARY ╞════════════════════════════════════════════════════════
I/flutter (  568): The following assertion was thrown while dispatching notifications for FocusNode:
I/flutter (  568): 'package:flutter/src/services/text_input.dar

[2020-01-20 16:56] fayeed commented on #21
@AshrafLP I have fixed this check version `1.0.13`

[2020-01-23 13:44] iapon commented on #10
yep, actually fixed

[2020-01-23 13:44] #10 closed

[2020-01-25 06:18] ArneSaknussemm89 opened #22 "Load Earlier gap customization"
**Is your feature request related to a problem? Please describe.**
Currently there is a 100px tall container that causes a wide gap between the start of the messages. Ideally this should be customizable as I want the latest messages to be a little closer to the app bar.

**Describe the solution you'd like**
Ideally a new property called "loadEarlierSpacerHeight" that can be customized with a value

[2020-01-28 12:51] #12 closed

[2020-01-28 12:52] #13 closed

[2020-01-28 12:52] #21 closed

[2020-02-03 20:46] LeafarDev opened #25 "Show the username in the message"
**Is your feature request related to a problem? Please describe.**
It's confusing when there is more than one user without a photo

**Describe the solution you'd like**
Show the username in the message

**Additional context**
Something like discord does:

[2020-02-04 04:59] fayeed commented on #25
You can override the `messageBuilder` to implement this feature your self, since this method receive the `ChatMessage` it also contains the user you can use that. It would be simple to implement too.

[2020-02-04 08:41] ayushin opened #26 "backend integrations?"
Hi!

This is an awesome initiative.

Is anybody working on some backend integration already, for example if this package could connect to https://zulipchat.com/api/ it would be gold!

Alex

[2020-02-04 14:57] LeafarDev commented on #25
thanks man

[2020-02-04 14:57] #25 closed

[2020-02-05 18:05] StuartMesham commented on #4
I am using package version 1.0.15 and it seems the problem is back. The scrollToBottom widget stays on top of everything even when I leave the chat screen.

[2020-02-08 19:13] ad-on-is opened #27 "type 'Timestamp' is not a subtype of type 'int'"
Getting this error when trying to implement

[2020-02-10 06:40] fayeed commented on #27
@ad-on-is can you share some more info like code and detailed error?

[2020-02-10 06:57] fayeed commented on #22
@ArneSaknussemm89 Can you share the code.

[2020-02-10 09:03] ad-on-is commented on #27
Nevermin, I just had wrong data in firebase, when testing the app

[2020-02-10 09:03] #27 closed

[2020-02-29 21:31] am-singh commented on #6
is there any clean solution?

[2020-03-01 11:45] StuartMesham opened #29 "Emoji's have a blue tint"
Emoji's have a blue tint. It is as if they are rendered behind a blue filter. It would be ideal for them to be rendered without this blue colour.

Steps to reproduce:
Create a chat.
Send a message containing an emoji.

Screenshot:
![2020-03-01 13_43](https://user-images.githubusercontent.com/28049022/75625033-c7ace000-5bc2-11ea-85eb-5825bdbf3dae.png)

Tested on LG G5
Android 7.0
dash_chat: ^1.0.15

[2020-03-01 11:52] StuartMesham opened #30 "scrollToBottom widget remains visible after leaving chat page"
I am using package version 1.0.15 and it seems the problem is back. The scrollToBottom widget stays on top of everything even when I leave the chat screen.

This is the same problem that was brought up in issue: https://github.com/fayeed/dash_chat/issues/4

I am using:

dash_chat: ^1.0.15

Flutter 1.12.13+hotfix.5 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 27321

[2020-03-02 06:34] fayeed commented on #29
@StuartMesham I will look into this.

[2020-03-02 06:35] fayeed commented on #30
@StuartMesham I don't know, I will check and let you know.

[2020-03-12 15:10] giorgio79 opened #33 "Private user to user chat with Firebase as backend?"
**Is your feature request related to a problem? Please describe.**
Any plans to make this work with Firebase?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screen

[2020-03-12 19:33] maskas opened #34 "ScrollToBottom work incorrectly if widget is not at full scale"
**Describe the bug**
scrollToBottom setting works incorrectly if a widget takes part of the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the following Widget structure

ListView
     Image
     Expanded
         DashChat
     end
end
2. Open your app
3. The bottom of the chat will be hidden.

**Expected behavior**
Write message input to be visible at the bottom.

**Screensh

[2020-03-12 20:00] maskas commented on #34
Looks like it is not a problem with the scrollToBottom setting.

It looks more like a mishandled height setting.

[2020-03-12 20:03] maskas commented on #34
The layout is fine only on a full screen :|

[2020-03-15 18:07] #34 closed

[2020-03-16 07:36] Marcosmaliki opened #35 "Scroll to last index"
The current implementation displays the first message then jumps to the last message. This breaks the user's focus and seems buggy but it's not. How can I prevent this and always show the latest messages. I've done this in a custom chat app but this plugin saves a lot of time.

check out the unwanted behavior here: https://1drv.ms/v/s!AqyIwuPueLgbq36o4gxQSomsZy3o?e=9HmIFr

[2020-03-16 13:52] josefwilhelm opened #36 "Don't show padding on left side"
Is it possible to show all messages on the left without padding when I don't show an avatar?

![image](https://user-images.githubusercontent.com/45625184/76764736-4fecd100-67d0-11ea-89c2-36d7c2d77aa6.png)

[2020-03-17 16:07] diegogarciar commented on #6
I'm currently doing
[code]

[2020-03-19 20:45] GroovinChip opened #38 "Support multiple images"
Currently, `ChatMessage` only supports one image URL. Please add support for adding more than one image URL.

[2020-03-20 01:14] RahulShivkumar opened #39 "messageContainerPadding does not work"
Setting `messageContainerPadding` to any value doesn't seem to work. I think this is because in `message_list_view.dart` I see this (line 39) `this.messageContainerPadding = const EdgeInsets.only(top: 10.0, right: 10.0, left: 10.0),`

I think the padding is always set to this const value vs being set to a value passed in

[2020-03-21 13:40] Dreamersoul commented on #29
if you notice you have tint on the text too meaning you just have to set the color for the user like so to make it go away
[code]

[2020-03-21 13:50] Dreamersoul commented on #35
you can fix it using the following:
add this in the build method
[code]
and use a scrollcontroller like the following:
[code]

[2020-03-21 16:14] Dreamersoul opened #41 "Consider removing SingleChildScrollView"
**Describe the bug**
when `SingleChildScrollView` and the messages less then the viewport, getting the keyboard on and scrolling places the input under the keyboard,
also when it is present and the keyboard is open the user cannot see the last message on top and the view earlier messages widget doesn't shoe

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'chat_view'
2. Click on 'textfi

[2020-03-21 17:02] Dreamersoul commented on #39
that line is setting the default value of the padding if it wasn't passed, the value you are passing is being set, try setting it to a high value and see the difference

[2020-03-22 18:28] senordonfelipe opened #42 "Cannot hide avatars"
Hey,

I have been working with dash_chat now for a while, however, I am not able to show deactivate the avatars for all users. Right now the avatar is always shown for one user. Although I set `showAvatarForEveryMessage` and `showuseravatar` ar both set to false. It seems that this behavior is not supported at the moment? Can someone confirm this?

[2020-03-23 05:07] fayeed commented on #42
@senordonfelipe I am not sure it should work, I will take a look and let you know.

[2020-03-23 05:09] fayeed commented on #41
Yeah, I have been thinking about removing for a time now, I see that you have created a PR I will take a look and merge it.

[2020-03-23 05:11] fayeed commented on #38
Right now this is not supported, but I am working on `v2.0.0` which also brings some breaking changes like this one.

[2020-03-23 05:48] fayeed commented on #26
@ayushin There are no plans right now to build integrations for backends since it is just a UI package

[2020-03-23 05:48] #22 closed

[2020-03-23 05:49] #29 closed

[2020-03-23 05:52] fayeed commented on #33
@giorgio79 If you take a look at the example it uses Firestore as backend, it also contains image upload too. There no plans to integrate Firebase as it is just a UI package but maybe in a future release `v2.0.0`, I might consider this.

[2020-03-23 05:52] #33 closed

[2020-03-23 05:52] #26 closed

[2020-03-24 11:54] #35 closed

[2020-03-24 11:54] #41 closed

[2020-03-24 12:00] fayeed commented on #35
@Marcosmaliki This is fixed in `1.0.17`.

[2020-03-26 17:46] Marcosmaliki commented on #35
I have updated but I can't see any difference. All I want is to display the latest messages first. The current implementation displays old messages then scrolls/jumps to the latest. Reproduce this with a thousand messages to see how ugly it looks.

[2020-03-26 19:16] Marcosmaliki commented on #35
![ezgif com-optimize](https://user-images.githubusercontent.com/27683104/77687384-5c7edf80-6faf-11ea-84a7-cdb36a13d3ea.gif)

[2020-03-27 11:49] Dreamersoul commented on #35
Hello can you provide an example project? And I'll take a look at it

[2020-03-28 09:52] Marcosmaliki commented on #35
Hello @Dreamersoul  thanks!
Reversing the list then reversing the message works alright but the list scrolls to the top when sending a message😆. Ps. I'm not using Firebase

[code]

[2020-03-28 09:59] Dreamersoul commented on #35
Can I see the `onSend` method?

[2020-03-28 10:10] Marcosmaliki commented on #35
[code]

the insert method is a fix to add the message as the start of the array when reversed. My major issue is the scrolling. Check the gif above. The list stutters when scrolling

[2020-03-28 12:11] JCKodel opened #43 "Hidden input"
**Is your feature request related to a problem? Please describe.**
I want to provide a guided conversation with my user (a help system), using only quick reply buttons.

**Describe the solution you'd like**
A way to completely remove the input box.

[2020-03-29 05:27] EngDjango opened #44 "textDirection"
thanks for the hard work❤
how to change 'textDirection' for the input box?

[2020-03-29 05:43] fayeed commented on #44
Right now there is no way to change `textDirection` for `TextField` but it should be a simple fix, I will add this update the package in a couple of hours.

[2020-03-29 05:45] fayeed commented on #43
This is a really specific use-case and I don't think anyone else would need it, but if enough people request it I will add it.

[2020-03-29 12:38] fayeed commented on #44
@EngDjango I have added a new property called `inputTextDirection: TextDirection.rtl`.

I have updated the package to `1.0.18`.

[2020-03-29 15:43] Dreamersoul commented on #35
i dont seem to know how to fix this, maybe @fayeed can help out!

[2020-03-29 18:26] EngDjango commented on #44
@fayeed ❤thank you fayeed, i really appreciate your fast respond, i wish you best luck;

[2020-03-29 18:26] #44 closed

[2020-03-31 10:55] gaoyong06 opened #45 "Ask a question about the display location of the message content"
Ask a question about the display location of the message content, the message is either displayed on the left or on the right, but I don't see the parameters related to the control of this location, do the following test, just swap the uid of the following two messages, the location of the message is also interchanged, the trouble tells you how to control the display location, Or what the rules th

[2020-03-31 12:42] fayeed commented on #45
The `uid` passed to the `Dashchat` widget is compared with the `ChatMessage`'s `user.uid` if they match the message is placed on the right if not on the left.

[2020-04-01 02:13] gaoyong06 commented on #45
done! thank you very much

[2020-04-01 14:20] lazyseals opened #46 "ChatUser toJson throws invalid Argument error for Color properties"
**Describe the bug**
When saving a chat message into the Firebase database an invalid argument error is thrown: "`Invalid argument: Instance of 'Color'`". This is because the 'containerColor' and 'color' properties of the chat user class are stored directly into the map without conversion to String.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the example code of dash chat
2. Extend

[2020-04-02 14:06] Tyfoo16 opened #47 "Date widget not showing between message of two dates"
**Describe the bug**
The date widget only show on top but not showing in between the message with different date.
For example, message 1st April 2020 and 2nd April 2020.

**To Reproduce**
I using the following data with created_at.
[code]
**Screenshots**
Top
![top](https://user-images.githubusercontent.com/38258170/78258563-01f4fe80-752e-11ea-8433-a29121ffe44e.png)
Bottom
![bottom](https://user-im

[2020-04-02 23:13] lehno commented on #35
Same problem here =/

[2020-04-03 00:03] Dreamersoul opened #48 "On inverse and sending a message the list scrolls to the top"
as described and shown in the discussion #35 im assuming the issue is from this line https://github.com/fayeed/dash_chat/blob/master/lib/src/chat_view.dart#L386 , will try to implement a fix soon

[2020-04-04 18:38] jaumard opened #51 "Avatar on press / long press"
**Describe the bug**
I have a crash when I press or long press avatars, because I didn't set `onPressAvatar` `onLongPressAvatar`. But I don't want to set them as I have no interactions to do there.

**To Reproduce**
click on avatar
**Expected behavior**
nothing should append, no crash

[2020-04-04 18:55] jaumard opened #52 "Message not sent by hitting action keyboard"
**Describe the bug**
We don't have any way to send the message by hitting the keyboard action, neither to configure it to "send" action. Would be very nice to be able to do it

**To Reproduce**
click keyboard action, keyboard just close but message is not sent

**Expected behavior**
Message is sent

[2020-04-06 08:29] MaIronCool commented on #30
Hi. I have a same problem. Package version 1.0.18.
appBar: CupertinoNavigationBar() - when i leaving chat page scrollToBottom widget remains visible.

[2020-04-08 02:40] pricejiang commented on #7
Hi, I am still having this issue only on the Android platform. When I click in the textfield, the keyboard pops up and pops down immediately with this error thrown out.

[2020-04-08 03:21] pricejiang commented on #7
I think managed to solve my problem... The thing is that I wrapped dash_chat under a future builder. When I tap the textfield, it seems that set_state is called and future builder would reload. Then, the scrollcontroller is not attached. The solution is to separate dash chat into another class.

[2020-04-08 09:26] athlona64 opened #53 "new message chat content not scroll to latest"
**Describe the bug**
when have new message chatbox content not scroll to latest is freezing

[2020-04-14 01:18] nguyenvanzk commented on #53
This happen when the list view content's height exceed visible rect.

[2020-04-15 12:53] Xheghun commented on #43
input field needs to be hidden when i want to create a custom field

[2020-04-15 12:58] Xheghun opened #54 "quick replies not showing"
**Describe the bug**
message quick replies not showing up.

**To Reproduce**
Steps to reproduce the behavior:
1. create a static ChatUser
2. add a user's message to messages list, with quick reply parameters
3. display messages
4. See error

**Expected behavior**
to show messages along with available quick replies

[2020-04-15 14:32] #48 closed

[2020-04-15 14:44] #45 closed

[2020-04-17 03:50] athlona64 commented on #53
how to solve

[2020-04-17 12:56] fayeed commented on #51
@jaumard This has been fixed in v1.0.19.

[2020-04-17 12:56] #51 closed

[2020-04-18 15:42] brandonwatkins commented on #30
I am also experiencing the same problem for me using:

dash_chat: ^1.0.18

If the scroll to bottom button is visible and you click the back button in the app bar to pop the screen the button is visible on all screens.

[2020-04-19 16:49] ifanchu opened #55 "Add onShow(message) callback for each message shown on chat or a way to determine a Message was shown"
**Is your feature request related to a problem? Please describe.**
I am currently struggling with how to display a Badge on the chat to indicate how many
unread messages are there. I am wondering if it is viable to add a `hasShown` property
in `ChatMessage` class? Does it make sense?
Or add a callback `onShow(message)` to `DashChat` so that we can track it ourselves?

**Describe the solution you'd

[2020-04-19 16:56] fayeed commented on #55
I think it would be better to have a property called `additionalProperties` or `customProperties` which will be a `Map<string, dynamic>` type so it could suit multiple use cases.

[2020-04-19 17:12] #39 closed

[2020-04-20 09:11] Dreamersoul opened #56 "[feature] add actions to messages"
Current I am implementing a chat that requires a button in some chat bubbles for example (open settings) all some other features.

I was thinking of having at the bottom of a message a button bar that renders action if they are present, I can create a PR soon, any suggestion on what should be implemented with it?

[2020-04-20 09:19] fayeed commented on #56
I think you could achieve this using `messageBuilder` property.

[2020-04-20 09:22] Dreamersoul commented on #56
I am currently using the message builder but in order to have a consistent look I need the `MessageContainer` to have an actions property

[2020-04-20 09:32] fayeed commented on #56
Are you thinking of how Slack does it?

[2020-04-20 09:38] fayeed commented on #56
As for the API, I think this would be good a new property in `ChatMessage` called `options` or `buttons` would be an array of `MessageOptions`.

[code]

[2020-04-20 10:43] Dreamersoul commented on #56
Not familiar with slacks API but the `buttons` option seems the way to go for me! I'll work on that today

[2020-04-20 11:00] fayeed commented on #46
Fixed in v1.0.20

[2020-04-20 11:01] fayeed commented on #55
Added a new property in ChatMessage called `customProperties` in v1.0.20.

[2020-04-21 08:43] jaumard opened #60 "Overflow exception"
**Describe the bug**
There is an overflow exception when the chat doesn't take the full width of the screen

**To Reproduce**
Use chat dash in master detail view and send a very long message

**Expected behavior**
Not having overflow

**Screenshots**
<img width="614" alt="Capture d’écran 2020-04-21 à 10 43 07" src="https://user-images.githubusercontent.com/2970449/79845136-e5c1e000-83bc-11ea-99ab-

[2020-04-21 09:13] fayeed commented on #60
I think this is because of this: https://github.com/fayeed/dash_chat/blob/d66a7ca35c8253654a654fe8bc8d55e9f68a00a8/lib/src/widgets/message_container.dart#L58

This could easily be resolved by using `LaoutBuilder` in `messageContainer`.

[2020-04-21 09:16] jaumard commented on #60
Yes that's why, I'm fixing it right now to remove all MediaQuery usage to use layoutBuilder

[2020-04-21 09:25] jaumard opened #61 "message item builders should give the full message object"
**Is your feature request related to a problem? Please describe.**
My use case was just to add message status "sent, received, seen" to the message bubble, my idea was to use the `messageTimeBuilder` to add time and message status. Problem is that I don't have the message data on that builder so I can't retrieve my message status. So I had to redo the all message widget with `messageBuilder` inste

[2020-04-21 09:38] fayeed commented on #61
This would help for this use-case and also could be useful but I think this would break the existing code. it could have a second optional parameter for this called `message`.

[2020-04-21 09:40] jaumard commented on #61
Sure if we can avoid to have breaking changes it will be better, optional message parameter looks good to me :)

[2020-04-21 10:01] jaumard commented on #60
I've made the modifications to use layoutBuilder, but it doesn't work as in some case constraints return infinity as height and width. Instead I think we should use FractionallySizedBox to avoir doing the calculation ourselves

[2020-04-21 10:06] fayeed commented on #60
I think this might be an issue with wrapping the root widget `DashChat` with `LayoutBuilder` it would be better to wrap `MessageListView`

[2020-04-21 10:07] fayeed commented on #60
or maybe try the solution you mentioned.

[2020-04-21 10:09] jaumard commented on #60
I have started like this but problem is that other Widget need the constraint (QuickReply, ContainerAvatar...) and I didn't want to wrap all of them with a layoutBuilder to gain in performance as only one is needed. I'll make some try some things....

[2020-04-21 11:09] jaumard commented on #60
Ok look like it works with layoutBuilders you can check the PR https://github.com/fayeed/dash_chat/pull/59 here.

[2020-04-21 13:45] #52 closed

[2020-04-21 13:45] #60 closed

[2020-04-21 14:05] #61 closed

[2020-04-22 19:54] fayeed commented on #56
Updated the package to v1.1.0

[2020-04-22 19:54] #56 closed

[2020-04-23 05:01] Wizok opened #63 "The method '[]' was called on null -> Tried calling: []("uid")"
**Describe the bug**
Installed the latest version 1.1.0 released today, pasted the example but did not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the example code
2. Run
3. Error:
_The method '[]' was called on null.
Receiver: null
Tried calling: []("uid")_

**Screenshots**
![image](https://user-images.githubusercontent.com/2520623/80060635-aa2a3180-84f4-11ea-82a3-1b128cc3856

[2020-04-23 05:19] fayeed commented on #63
The example code uses Firebase, so you will need to setup Firebase to get it to work.

[2020-04-23 05:44] Wizok commented on #63
mmm... im already using firebase, already working with streams in others screens... but this package isn't working for me...

this is the only thing that can be written with the package after it crash

![image](https://user-images.githubusercontent.com/2520623/80063406-76063f00-84fb-11ea-911d-9f968c2e9ece.png)

[2020-04-23 05:47] fayeed commented on #63
There is no user object in your Firestone, you also need to add user property with every message.

[2020-04-23 05:48] fayeed commented on #63
This how your firestore document should look

![image](https://user-images.githubusercontent.com/8464270/80063680-096b5e80-8554-11ea-997e-b338da21f446.png)

[2020-04-23 05:58] fayeed commented on #63
@Wizok I have fixed a small issue with ChatUser class so to try `v1.1.1`

[2020-04-23 06:31] Wizok commented on #63
Yooo ! is working, thanks a lot Fayeed =D

![image](https://user-images.githubusercontent.com/2520623/80066643-ee6ffe80-8501-11ea-9cec-45c98be5a74d.png)

[2020-04-23 06:31] #63 closed

[2020-04-23 08:24] fayeed commented on #46
@lazyseals try version 1.1.1

[2020-04-26 05:10] david-shortman opened #65 "Horizontal overflow occurs when message content is too large"
- Message row overflows text reaches a certain length
  - Occurred with avatars visible

[My code using dash_chat](https://github.com/david-shortman/netflix-party-enhancement-suite/blob/master/flutter_app/lib/pages/ChatFeedPage.dart#L91)

![Screen Shot 2020-04-19 at 3 49 00 AM](https://user-images.githubusercontent.com/25187726/79682480-b9596880-81f0-11ea-95cb-0bd79a490dde.png)

[2020-04-26 09:29] fayeed commented on #65
@david-shortman This issue was resolved in issue #5. It will take a look and let you know.

[2020-04-26 17:04] jaumard commented on #65
Yes should be resolved  if you use last version 1.1.1

[2020-04-26 17:05] jaumard commented on #43
Hum maybe https://github.com/fayeed/dash_chat/pull/66 can be useful for this use case too

[2020-04-26 17:07] jaumard commented on #36
I'm getting this one also sometime but wasn't able to find the root cause of the bug

[2020-04-27 00:08] david-shortman commented on #65
Upgrading the package solved the issue

[2020-04-27 00:08] #65 closed

[2020-04-27 10:40] timkanurmamatov commented on #47
The problem is in currentDate check in message_listview.dart:
replacing this portion of code
`
if (currentDate == null) {
  currentDate = widget.messages[i].createdAt;
  showDate = true;
} else if (currentDate.difference(widget.messages[i].createdAt).inDays != 0) {
  showDate = true;
  currentDate = widget.messages[i].createdAt;
} else {
  showDate = false;
}
`
by this
`
if (currentDate == null) {

[2020-04-27 13:40] hjJunior commented on #53
You can use the method `animateTo` from scrollController, here is the example

[code]

Don't forget to define the GlobalKey (`_chatViewKey`)

[code]

[2020-04-30 05:26] lucadem1313 opened #67 "Adding a way to see message context in the message builder"
**Is your feature request related to a problem? Please describe.**
I would like to display messages with a custom avatar and message, where the actual message bubble is different if it's followed by another by the same user (ie. in iMessage where there is a tail on the bubble unless the user sends a message right after). This would also allow me to display my custom avatar only once for each block

[2020-04-30 10:29] ngoctranfire opened #68 "Exception caught by rendering library: Build scheduled during frame"
Although there is no crash, I think there is inherently wrong with what is going on with the widget.  When ever I press the "send" in the keyboard button, this error occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Dash Chat View.
2. Compose a message. Then use the Keyboard's send button.
3. Notice that the error occurs.
4. Here's the error:
[code]

**Desktop (please complete

[2020-05-01 02:23] SebastienBtr commented on #16
I think this issue can be closed.

[2020-05-01 02:24] SebastienBtr commented on #6
I think this issue can be closed.

[2020-05-01 04:48] #16 closed

[2020-05-01 04:51] diegogarciar commented on #6
What was the solution?

[2020-05-01 19:52] SebastienBtr commented on #6
As mentioned above, since 1.0.7, two new properties inputToolbarPadding & inputToolbarMargin allow you to add padding & margin to the input container.
So it doesn't seem to be an issue related to the package anymore, you'll need to manage yourself the padding/margin as you'll do with any widget to adapt to iOS.
It seems more like a Stack Overflow question right now.

[2020-05-01 19:55] SebastienBtr commented on #47
@timkanurmamatov Can you do a PR for that ?

[2020-05-04 04:20] DeepakPant opened #70 "Extedend Chat user"
Is there any chance we can add additional properties to chat user. Current properties are limited like user type or roles. I want to categorize user based on there role property like support , admin.

[2020-05-04 20:08] ederluca opened #71 "PDF File Preview"
I noticed that when attaching a pdf file, no type of visualization is shown, just a blank container with the size that should have a visualization, is it possible to display a preview of the pdf?

[2020-05-07 20:15] SebastienBtr commented on #46
Just tested it, works fine, it can be closed

[2020-05-07 20:35] scortumee commented on #9
Same here. Were you able to fix it @Lionelvsv?
I am using `dash_chat: ^1.1.3`. @fayeed could you take a look at it? We really appreciate that

[2020-05-07 21:00] SebastienBtr commented on #47
I just did some tests and I didn't see any issue when using `millisecondsSinceEpoch` int (available on DateTime) in createdAt field.

However, when using dashChat with `inverted: true` it doesn't work as expected because the messages are in descending order.

[2020-05-08 04:24] #46 closed

[2020-05-08 09:36] SebastienBtr commented on #43
You can indeed use the `readOnly` property thanks to @jaumard PR in #66. It will hide the input tool bar.

This issue can be closed.

[2020-05-08 13:15] SebastienBtr commented on #47
After more testing and looking into the code I was able to reproduce it and the issue was simple as @timkanurmamatov shown and this is fixed in my PR.

There is still some issues when loading more messages, probably because of the way the list builder works. I'm not sure how to fix that but my PR will already improve a lot the date builder when merged.

[2020-05-09 15:44] rlee1990 opened #73 "Quick Replies are not showing"
I am using the latest version of the package and the latest version of Flutter stable and the quick replies are not showing is there something that has to be setup?

[2020-05-09 15:45] rlee1990 commented on #38
I would love this.

[2020-05-09 19:57] rlee1990 commented on #6
Adding padding or margin does not solve the issue it makes a new one for the scroll to bottom will always show even if at the bottom.

[2020-05-09 21:08] #73 closed

[2020-05-09 21:16] SebastienBtr commented on #6
@rlee1990 I think you are referring to #30, it has nothing to do with the input toolbar margin/padding.

[2020-05-09 21:44] rlee1990 commented on #6
Thanks that is what happens I did choose to just hide it altogether for now

[2020-05-09 22:00] SebastienBtr commented on #30
I might take a look at this issue later, it's maybe easy to solve.

To answer to @rlee1990 in #6 :

As a workaround you can use a floating button and add a listener on the scroll controller to show or hide this floating button. And of course when you click on this button you use the scroll controller to scroll down:

[code]

I didn't test this code, that's just an idea, hopefully this can help you

[2020-05-09 23:01] SebastienBtr commented on #18
I think it's probably not a good idea to have an onTap property because it will introduce a conflict with flutter_parsed_text.

[2020-05-10 04:47] #55 closed

[2020-05-10 04:49] #43 closed

[2020-05-12 04:23] ngoctranfire opened #77 "Scroll To Bottom Widget Showing Even When Chat Exited"
I'm a huge fan of this package and I love it so far for what I am using to build my application!

However, I seem to be getting a really weird error, especially with the "scroll To Bottom" widget. It seems, even after I exit my chat app, the scroll to bottom widget is still visible? This happens sometimes and I am not sure how to reproduce it. When pressing the "scrollToBottom" the following error

[2020-05-12 05:22] ngoctranfire commented on #77
This is already a part of #30 so I'm going to close this.

[2020-05-12 05:22] #77 closed

[2020-05-12 05:24] ngoctranfire opened #78 "Scroll To Bottom doesn't scroll To Bottom of Chat View."
I noticed that when we add a message with onSend(), even with the scrollController.position.maxScrollExtent animation, we don't actually scroll all the way to the bottom as expected. Not sure what is going on there, but it seems we have to manually scroll after to hit the bottom.

[2020-05-12 11:44] ngoctranfire opened #79 "MessageListView aligns itself to bottom. Allow for aligning from Top of View too."
I'm running into an issue where I create a DashChat and it is a full screen chat, but when there is only 1 message currently visible, the messages always position themselves at the bottom. I would like to position the messages starting from the top down instead of from the bottom up as it is currently doing.

**Describe the solution you'd like**
Add a flag into DashChat where we can align messages

[2020-05-13 04:44] ngoctranfire commented on #53
This doesn't actually solve the problem as well too. Not sure what's going on. It seems that with the visibility of the virtual keyboard, the new message is not going to it by default. One thing I tried was to increase my delay time before triggering the scrolling duration. That seems to be helpful in a lot more cases, but that didn't exactly fix it either.

[2020-05-13 06:08] ngoctranfire commented on #79
I have a fix for this and I can make a pull request for this. I decided to add a bool flag to allow the user to set this.

[2020-05-13 13:03] SebastienBtr commented on #78
Can you provide more information and maybe code samples? In my app it works as expected

[2020-05-14 09:20] #36 closed

[2020-05-14 09:20] #42 closed

[2020-05-14 09:24] fayeed commented on #70
@DeepakPant yeah sure we can do that, I will let you know once this is done.

[2020-05-14 09:29] #70 closed

[2020-05-14 09:34] fayeed commented on #70
@DeepakPant updated the package to `1.1.4`. Added a new property to the User Model called `customProperties`.

[2020-05-15 12:21] Khrimm commented on #78
I experience the same problem, even when i manually animate or jump the scrollcontroller to maxextent. For some reason the maxextent value seems to be wrong. It even changes randomly. Maybe this is a flutter problem, but i cannot find anyone with this problem.

An example what happens for me:
Lets assume my real maxscrollextent is 600.
When I click the scrollToBottom button and call maxscrollexten

[2020-05-15 13:20] #79 closed

[2020-05-15 13:51] fayeed commented on #79
@ngoctranfire Updated the package to v1.1.5

[2020-05-16 15:53] zaid13 opened #81 "NoSuchMethodError"
The method '*' was called on null.
Receiver: null
Tried calling: *(1000)

**To Reproduce**

make firestore account clone project make collection name messages

can you show the firestore field expected by  ?

[2020-05-16 15:56] #81 closed

[2020-05-16 15:57] zaid13 commented on #81
it automatically creats its own collection we dont have to make it ourselves to make it work

[2020-05-20 09:14] elgansayer commented on #38
I achieved this by splitting the media URL and then a custom builder with a  list view.

Though 2.x sounds awesome! Loving this plugin

[2020-05-20 09:24] elgansayer commented on #71
use an image builder, and display the pdf there.

DashChat(
imageBuilder: (URL, chat)
{
if(URL is my pdf)
{
Container(PDF_display)
}
}

[2020-05-20 19:15] Dreamersoul opened #83 "Image location in the message container"
most chat apps add the image before the text, do you think we can flip them or should we add a flag to control the location of message contents?

[2020-05-21 08:04] SebastienBtr commented on #83
There is also a lot of apps the the message first, so I guess a new flag is the good idea

[2020-05-21 08:09] SebastienBtr commented on #78
Ok, no clue, I saw the same behaviour when doing some test, in my app I'm using the list in `inverted`, so the bottom is `0` and I have no issue, it also helps me to keep the scroll position when I load more messages (onLoadEarlier)

[2020-05-21 12:58] Dreamersoul commented on #83
Thank you @SebastienBtr will try to push a PR soon!

[2020-05-21 21:13] Dreamersoul opened #85 "Add the ability to build messageContainerDecoration"
**Describe the solution you'd like**
having a `messageContainerDecorationBuilder` will allow different bubbles to have different styles i think this can be helpful to get a better looking chat
for example the current user can have different radius from the user he is chatting with.

[2020-05-22 07:54] SebastienBtr commented on #85
Agree with that, in my app as a workaround I did it in the message text builder and used transparent color & 0 padding for the message container

[2020-05-22 13:20] Dreamersoul commented on #85
I'm thinking of adding a PR after the one I have gets merged

[2020-05-25 07:28] Bobby9292 opened #87 "Avatar showing for every message"
The avatar 'Initial'  for other users, is still shown after setting both :
- showUserAvatar
- showAvatarForEveryMessage
to False.

![image](https://user-images.githubusercontent.com/65888791/82789216-e90d2780-9ea4-11ea-9ad9-42051690b284.png)

**Desktop:**
 - OS: MacOS Catalina 10.15.4
 - Device: Emulator Iphone11 pro Max and physical Android 10
 - Flutter Version:  1.17.1
 - Dart Version: 2.8.2

[2020-05-25 07:37] SebastienBtr commented on #87
There is no parameter to hide all avatars, but you can use an empty Container in the avatarBuilder, see https://github.com/fayeed/dash_chat/pull/74.

[2020-05-25 07:44] Bobby9292 commented on #87
Thanks for the reply.
Worked fined with that workaround.

[2020-05-25 07:44] #87 closed

[2020-05-26 12:32] #83 closed

[2020-05-29 15:46] sijangurung commented on #13
This error still exists with dash_chat: ^1.1.3. I am doing the same logic as mentioned above , and the input textfield is not clearing after send !
DashChat(
...
text: _inputMessage,
                      onTextChange: (txtchange){setState(() => _inputMessage = txtchange)},
...

[2020-05-29 15:52] sijangurung commented on #13
Found workaround. While sending from custom method, just call
    _chatViewKey.currentState.textController.clear();
For clearing the input field !

[2020-06-02 19:53] sijangurung commented on #78
probably you are using safearea or changing the position of input container. That might affect the scroll

[2020-06-03 15:28] boosey opened #88 "Other user Avatar grows as window is sized"
The avatar for the other user grows proportionally to the window (or chat view) width. This is not desired. I know this happens for an avatar which is just and initial. I believe the desired behavior would be the size of the avatar is constant and a bit larger than a single line chat bubble.

To get around this, I had to create an avatar builder and put in constant box contstraints of 500 and 500.

[2020-06-04 03:42] fayeed commented on #88
The reason for this is that we calculate the avatar container height width based on the parent component height, width i.e `width * 0.08`. Since the package is not optimized for the web yet for wider screens can cause this problem.

[2020-06-05 19:07] sijangurung commented on #53
Also, if there are lots of images, which will render lazily, the messageListView will not scroll to latest message.

[2020-06-05 20:31] kornha commented on #11
Reopening. This does not work, the onSend method does not get triggered. As this is not expected behavior, this is a bug.

[2020-06-06 00:25] kornha commented on #68
Same error.

[2020-06-06 00:50] kornha opened #89 "Scroll not working with keyboard or with new messages"
Scroll not working on new message, or when keyboard appears. Throws errors like:

The following NoSuchMethodError was thrown while dispatching notifications for ScrollController:
The method 'call' was called on null.
Receiver: null
Tried calling: call()

Not sure how to "reproduce" seems like it plain does not work.

Here is my code:

[code]
Running 1.1.15 with iOS emulator.
Is there any hope of f

[2020-06-06 04:33] fayeed commented on #89
@kornha Thanks for reporting I will take a look.

[2020-06-06 10:43] SebastienBtr opened #90 "Add "firstName" and "lastName" on ChatUser"
**Describe the solution you'd like**
I'd like to have `firstName` & `lastName` fields on a ChatUser, currently we just have `name`.

**Additional context**
I'm using the `avatarBuilder` to use my own avatar which use the user initials when there is no profile picture. Currently I can't use it properly because we only have access to `name`.

[2020-06-06 11:30] SebastienBtr commented on #88
Should the avatar just use a fixed size?

[2020-06-06 16:10] kornha commented on #89
Longer trace:

[code]

[2020-06-07 02:00] kornha commented on #89
Another related but, adding my own scrollview breaks when the text changes, causes the messages to move down slightly. On top of that, when adding my own scrollview, the the top reload still gets triggered, and it tries using your (null) scrollview.

[2020-06-07 05:39] fayeed commented on #88
Maybe adding a constraint to `Container` would be good.

Like this: `constraints: BoxConstraints(minWidth: 40, maxWidth: 40)`

[2020-06-07 05:44] fayeed commented on #90
I initially had this but dropped in favour of how google handles first & last name they just separate the name with spaces, but this is doable.

We could allow users to set either first & last name or name, if first & last is present just concat & use it or else use the name field.

[2020-06-07 16:09] kornha commented on #89
Found a fix to my second bug, if I change the line `bottom: height`, instead of `bottom: height + 12.0,`, ie, I remove the inexplicable magic number, I fix the layout changing bug when using a custom scroll controller.

[2020-06-07 16:41] kornha commented on #89
Going to close this. I'm not going to use this library as it is not production ready.

[2020-06-07 16:41] #89 closed

[2020-06-08 01:43] albrownwood commented on #30
same issue seen on 1.1.

[2020-06-08 02:04] albrownwood commented on #53
same issue on 1.1.5

[2020-06-08 05:14] fayeed commented on #90
@SebastienBtr updated the package to v1.1.6 with these new properties in User Class

[2020-06-08 05:14] #90 closed

[2020-06-08 05:15] fayeed commented on #88
@boosey Added a new property called `avatarMaxSize` defaults to `30.0`. Check the new version 1.1.6

[2020-06-08 05:15] #88 closed

[2020-06-08 06:17] #30 closed

[2020-06-08 06:19] fayeed commented on #30
@albrownwood @SebastienBtr This has been fixed by the PR from @SebastienBtr, I will release the new version shortly.

[2020-06-08 06:23] fayeed commented on #30
Updated the package to `1.1.7`

[2020-06-08 07:09] fayeed commented on #78
This has been fixed in 1.1.8

[2020-06-08 07:11] fayeed commented on #9
@scortumee This has been fixed, Please check version `1.1.8`

[2020-06-08 07:13] #6 closed

[2020-06-08 08:59] sijangurung commented on #53
one solution to this is to set inverse: true. But then you have to get the messages in ascending order and do some custom logic.

[2020-06-08 20:45] scortumee commented on #9
thanks @fayeed, will check it out

[2020-06-10 00:17] m-j-g opened #91 "name sent is "null null" even though a name is provided in the user object."
1.) Create a ChatUser object with any 'name'.
2.) The created object gives back "Null Null"
(it tries to use first and last name but not sure why, when you supply a name)

I had version set to 'any' - changing it to 1.1.5 resolves the issue.

[2020-06-10 02:07] fayeed commented on #91
@m-j-g Thanks for reporting the issue I will take a look

[2020-06-11 12:27] lucaspal commented on #91
I opened a PR that fixes this [link to PR](https://github.com/fayeed/dash_chat/pull/92).
@fayeed Have a look when you have time.

[2020-06-11 12:29] fayeed commented on #91
@lucaspal  Just merged the PR will release a new version in few minutes

[2020-06-11 12:29] lucaspal commented on #91
Great :)

[2020-06-11 12:31] fayeed commented on #91
Package updated to `1.1.9`, it should be up in couple of minutes

[2020-06-11 18:27] reyjexter opened #93 "Memory leak when opening and closing screen or dialog quickly"
**Describe the bug**
Memory leak when opening and closing screen or dialog quickly.

`E/flutter ( 9164): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: setState() called after dispose(): DashChatState#b9035(lifecycle state: defunct, not mounted)
E/flutter ( 9164): This error happens if you call setState() on a State object for a widget that no longer appears in the widget tree (

[2020-06-14 07:23] primemb opened #94 "Support voice recording"
It would be great if you could add a voice recorder to this plugin.

[2020-06-15 15:03] #91 closed

[2020-06-15 16:22] mateus96mt opened #95 "Calling of 'setState' without if(mounted)"
**Describe the bug**
[ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: setState() called after dispose(): DashChatState#a79cd(lifecycle state: defunct, not mounted)
E/flutter ( 6239): This error happens if you call setState() on a State object for a widget that no longer appears in the widget tree (e.g., whose parent widget no longer includes the widget in its build). This error ca

[2020-06-16 16:43] joseph-jordan commented on #68
Any updates on this?

[2020-06-19 13:36] SebastienBtr commented on #95
Seems duplicated of #93

[2020-06-20 05:38] #9 closed

[2020-06-20 08:33] primemb opened #96 "use local asset image for avatar"
Is it possible to use a local image for avatars or it should be a url?

[2020-06-20 12:26] fayeed commented on #96
@primemb Unfortunately right now it only supports URL. Do you want to set placeholders image?

[2020-06-21 09:08] primemb commented on #96
placeholder image for user without avatar and save user image on local and use local data when internet connection not available.

[2020-06-21 10:39] SebastienBtr commented on #96
We can probably add a field `avatarPlaceholder` in the `ChatUser` for this use case

[2020-06-21 10:47] fayeed commented on #96
@SebastienBtr Yeah, I think that would be good.

[2020-06-21 10:55] SebastienBtr commented on #18
Closing this issue because there has been no response from the original author. On top of that, it can probably be solved using flutter_parsed_text.

[2020-06-21 10:55] #18 closed

[2020-06-22 04:38] giorgio79 opened #97 "Swear words filter"
Wondered if swear words filtering would be a good idea? Anyone had issues with user cussing? Perhaps a report button on the interface?
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Desc

[2020-06-22 09:01] fayeed commented on #97
This is a very specific use case so it won't be implemented, but you can easily achieve what you want by using `messageBuilder` property. You could have a a map or an array of swear words and can check to see if the current message has any swear words. As for report button you can also implement it yourself using the buildin properties.

I am going close this issue.

[2020-06-22 09:01] #97 closed

[2020-06-26 04:49] ravivlb opened #98 "The following NoSuchMethodError was thrown building LayoutBuilder"
**Describe the bug**
Getting error on the user B side when the message sent from user A.

**To Reproduce**
Steps to reproduce the behavior:
1. Open both applications at the same time
2. Send message from user A (left side - iOS)
3. Getting error  on user B (right side - Android)
4. See error

I/flutter (20091): The following NoSuchMethodError was thrown building LayoutBuilder:
I/flutter (20091): T

[2020-06-26 08:45] kanal-altyapi commented on #98
Same for me, there is an error. If first comment user is own no error otherwise I'm getting an error

[2020-06-26 23:33] ChrisChV commented on #98
That error happens to me when I use the version 1.1.10, but with the versión 1.1.9 it works fine for me

[2020-06-27 16:08] israbr commented on #98
Hi
Same here, we're in 1.1.9 and we see the red screen of death on Android.
Our wild guess is it might be related to QuickReplies as we do not use this feature.
Fantastic job regardless of this issue ^_^

[2020-06-27 16:10] israbr commented on #98
Unlike the op, we are not seeing ANY errors if we use an emulator though

[2020-06-27 16:15] israbr commented on #98
We've managed to reproduce in emulator using 1.1.10 and not passing anything for QuickReplies.
We "solve it" by passing:
[code]
to the ChatMessge constructor

[2020-06-28 00:51] brad555 opened #99 "I tried this, but I still get the error"
We've managed to reproduce in emulator using 1.1.10 and not passing anything for QuickReplies.
We "solve it" by passing:
[code]
to the ChatMessge constructor

_Originally posted by @israbr in https://github.com/fayeed/dash_chat/issues/98#issuecomment-650580789_

[2020-06-28 00:56] brad555 commented on #99
When I run in it on the phone it still causes an error - i didn't try it on the emulator

[2020-06-28 01:21] #99 closed

[2020-06-28 08:49] primemb opened #100 "Quick replies only show 3 button"
I add 5 replay button to  ChatMessage like this but it only show 3 of them

[code]
![image](https://user-images.githubusercontent.com/3611284/85942928-e6896c00-b941-11ea-9e6c-f77fb9cf3475.png)

[2020-06-28 14:23] brad555 commented on #98
It appears as if you need to set the quickReplies to be QuickReplies() in a chat message, but you also need to make sure you implement the onLoadEarlier callback in DashChat to get rid of the errors. Just set onLoadEarlier: (){print("loading")}

[2020-06-29 09:01] primemb commented on #100
i forgot enable `quickReplyScroll` it fix now.

[2020-06-29 09:02] #100 closed

[2020-06-29 14:00] brad555 opened #101 "Add A Way To Show Users Name Above Message"
If you have a group message, you usually see the name of the person you are talking to above their texts. Was thinking it would be nice if that feature was available. Similar to how there is an option to not show the users avatar after every message, a feature to show the users name above their many messages would be nice.

[2020-06-30 07:22] hangaoke1 commented on #35
mark, same problem

[2020-06-30 09:16] SebastienBtr commented on #101
Good idea

[2020-06-30 13:32] r-kgy opened #102 "Add keyboard type option"
I would like to add the options for customizing the keyboard type ( keyboardAppearance, keyboardType, etc.).
If you don't have a problem about this issue, I'll put out a PR, but do you have any concerns about this?

[2020-06-30 17:56] mateus96mt opened #103 "User avatar from url with bearer token authorization"
I work in a application where the avatars of the users (chat users) comes from an endpoint where a bearer token authorization is needed and looking into dash_chat code there is only a string for user avatar url and i cannot pass the bearer token so the avatar don't load.

Change the avatar of chat from url string to an image would help, or allowing a way to pass bearer token and not just the avata

[2020-07-01 12:09] primemb opened #104 "Must always pass quickReplies now in version 1.1.10"
I upgrade package to 1.1.10 and now i must always pass `quickReplies` param in `ChatMessage` or i get this error :

[code]

[2020-07-01 14:13] m-j-g commented on #104
Came to report the same issue.

[2020-07-01 14:28] fayeed commented on #98
Just fixed the bug and updated the package to `1.1.11` it should be live in a couple of minutes

[2020-07-01 14:29] fayeed commented on #104
@m-j-g This has been fixed in `1.1.11` just be live in a couple of minutes.

[2020-07-01 14:30] fayeed commented on #103
This is a very specific use case so won't be implemented in the package but you easily implement this using `avatarBuilder` take a look at the documentation for more explanation.

[2020-07-01 14:30] #103 closed

[2020-07-01 14:35] fayeed commented on #102
I don't see the point of adding `keyboardType` property since this package is for chat, can you explain your use case?

[2020-07-01 14:48] tvanhuu commented on #104
I got the same error this afternoon. Thanks for fixing it <3

[2020-07-01 21:14] #104 closed

[2020-07-02 17:09] m-j-g opened #105 "sendOnEnter: true - not working on Web"
**Describe the bug**
sendOnEnter does a line return on web instead of sending message.
using:  dash_chat: 1.1.11
**To Reproduce**
Steps to reproduce the behavior:
1. set sendOnEnter: true
2. run on web
3. type some text and press enter
4. See error

**Expected behavior**
Send message on return press.

[2020-07-03 02:39] fayeed commented on #105
@m-j-g THis package has not been optimized for the web yet.

[2020-07-03 02:40] #98 closed

[2020-07-04 14:20] fayeed commented on #54
Should be fixed in the latest version

[2020-07-04 14:20] #54 closed

[2020-07-05 14:20] osinakayah opened #106 "Please how can i override the send button, I am new to flutter."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-07-05 14:31] #106 closed

[2020-07-07 15:14] dulajdanu opened #109 "How to add a custom avatar in the chat"
How to add a custom avatar for the chat.i cant understand how to use the avatarbuilder

[2020-07-08 13:06] elgansayer commented on #109
Use avatarBuilder.

`      avatarBuilder: (dash.ChatUser chatUser) {
        var foundUser = chatGroup.userAccounts
            .firstWhere((ua) => ua.id == chatUser.uid, orElse: () => null);

        if (foundUser == null) {
          return UserAccount.defaults().getAvatar(context, button: false);
        }

        return foundUser.getAvatar(context);
      },`

[2020-07-08 20:11] mateus96mt commented on #103
The `avatarBuilder` changes the avatar for all users in chat? The avatarBuilder receives only one ChatUser and uses the widget returned as default avatar widget for all user. At least this was the behavior i have observed.

Is there a way to set custom avatar for each User?

[2020-07-09 02:04] #109 closed

[2020-07-09 08:25] jinfagang opened #110 "Can it be used in bloc pattern apps?"
For bloc pattern apps, most pages were using stateless widget, does this component supports it well?

[2020-07-09 08:37] fayeed commented on #110
This package only provides UI, the developer needs to take care of all state management & interacting with the backend, etc.

And to answer your question it will work with any state management solution in Flutter.

[2020-07-10 08:58] #110 closed

[2020-07-10 15:40] m-j-g opened #111 "new issue on 1.1.12 -> you must set inputDisabled flag or get null error"
starting in 1.1.12:

Create DashChat() object and don't add the 'inputDisabled' flag - get null error.  Easy fix just adding the flag, but it looks like this is supposed to default to false if its omitted.

[2020-07-10 16:24] fayeed commented on #111
@m-j-g Thanks for reporting the issue I will take a look and deploy a quick fix for this

[2020-07-11 02:24] #111 closed

[2020-07-11 02:24] fayeed commented on #111
@m-j-g Updated the package to `1.1.13`.

[2020-07-12 19:35] peter-sg commented on #68
I had the same issue and it appears to happen for me in chat_view.dart

void changeVisible(bool value) {
    if (widget.scrollToBottom) {
      setState(() {
        visible = value;
      });
    }
  }

Here's the call stack:
[code]

[2020-07-12 21:10] peter-sg commented on #101
I needed this as well, for a temp solution, I used the messageBuilder param in DashChat and for the MessageContainer that gets returned in that function, I used the messageTextBuilder to implement the name above the message.

[2020-07-14 20:17] MikaelLazarev commented on #53
Any news?

[2020-07-18 19:41] brad555 opened #112 "add additional padding when a different user sends a message"
If you're in a group chat it would be nice if there was a way to set a padding variable that would add extra space when another user begins to send messages. For example, if I see my friend has sent 4 messages in a row then a different user sends a message, it can appear to be a bit cluttered. It would be nice if there was some extra space.

[2020-07-18 20:17] brad555 opened #113 "Add users name above message"
similar to how you can add an avatar URL, it would be nice If you could add the name of the user in the message container... makes it less confusing for group chats

[2020-07-19 02:34] fayeed commented on #112
I am planning a new version for this package and it will have a lot of improvement build in over this version, for now, though you should be able to implement this yourself using `messageBuilder`.

[2020-07-19 02:35] fayeed commented on #113
As I mentioned I am planning a new version for this package and it will have a lot of improvement build in over this version, for now, though you should be able to implement this yourself using `messageBuilder`.

[2020-07-19 09:46] SebastienBtr commented on #113
Duplicate of #101

[2020-07-20 20:51] javaCoincidence opened #114 "onSend function not being called when onTextChange function is passed"
**Describe the bug**
when you have both onTextChange and onSend parameters passed, the onSend function is not being called and the send button is inActive!

**Expected behavior**
the onSend function should be called as expected despite having onTextChange function passed

**Desktop (please complete the following information):**
 flutter for web,  dash_chat: ^1.1.13

[2020-07-21 02:35] fayeed commented on #114
@javaCoincidence Are you using this library on Flutter web? If you are the library does not support this  Flutter for the web yet.

[2020-07-21 15:41] javaCoincidence commented on #114
I see, thanks!

[2020-07-21 15:41] #114 closed

[2020-07-22 11:43] ab-dev-github opened #115 "Documentation for customising font, background, sender message box etc."
Currently it's difficult to figure out how to customize the Dashchat. For example, how to change the Font or Colors etc.
Have a good documentation with example will be very helpful.

If anyone has any examples that are customized - Can you post this as an answer, may be those can be used to create documentation.

Thank you
- AB

[2020-07-23 08:32] fayeed commented on #115
@ab-dev-github The documentation is not going to be updated for Dashchat v1. I am going to start working on v2 in a month or so, it will bring lots of API changes that why I won't be updating the current docs.

I do agree with adding examples will definitely help.

[2020-07-23 09:15] AppDomix opened #116 "specified the user to whom we are sending the message"
I can't handle different user because i can only specified the user who send the message !

I would like to have the possibility to specified the user to whom we are sending the message in the chat message object

[2020-07-23 12:25] fayeed commented on #116
@AppDomix I don't understand your use case for requesting this feature, can you explain in detail what you want to achieve.

[2020-07-23 12:34] AppDomix commented on #116
I want to specified the contact who receive the message.
For the moment when i create a chatMessage i must specified the user who send the message but there are any management for the user who receive the message.

I would like to specified, when i create a chatMessage, the user who send and the user who receive.

Hope you'll understand my request.

for the moment i modified the chatMessage.dart t

[2020-07-23 12:36] fayeed commented on #116
You could just use the `customProperties` to add any data you want to the Chat message

[2020-07-23 12:40] AppDomix commented on #116
Oh yes thank you I didn't put enough attention on this.

[2020-07-23 12:41] #116 closed

[2020-07-24 06:52] mars3142 opened #117 "v2 release roadmap"
I see in the projects tab, the planned features for v2, but there is nothing about timing. Would it be possible to push you v2-branch, so everybody can see any progress or can help with that?

For example, I want to implement an image loader, because I would use Firebase or S3 for image storage and won't save the fix url with the message, because it can be changed anytime. So I just want to add th

[2020-07-24 08:45] fayeed commented on #117
@mars3142 I have not started working on the v2 yet, I waiting for @SebastienBtr to get some free time we will then start working on the v2 then, it could be 2 months or so before we start.

As for the implementation that you want to add I think that can be done with the current feature set just try with `messageImageBuilder` it should return the image name that you set, then in image builder, you

[2020-07-24 09:01] mars3142 commented on #117
After writing this feature request, I found the `messageImageBuilder` parameter and it was the missing link for me for images.

And because of v2 roadmap. I have to wait until everyone can test/fix/help with that. Good to know.

You can close the issue or leave it open as a reminder ;)

[2020-07-24 19:05] vzctl commented on #53
I think it makes sense to add a boolean parameter enabling that behavior, it looks like a very common use case.

[2020-07-25 00:42] albrownwood opened #118 "Add support for displaying message delivered/read by peer"
It would be nice to be able to display if a message has been delivered and/or read by the peer (e.g. similar to checkmarks in whatsapp or the read/delivered text in iMessage)

Maybe the feature already exists by I couldn't find it.

[2020-07-25 03:09] fayeed commented on #118
You could easily implement this using `ChatMessage` using the `customProperties` & `messageBuilder`.

[2020-07-27 04:21] albydarned commented on #85
I would love to be able to keep all the default functionality of each message, but just change the background color. Some messages green, some red, some blue etc.

If someone could point me in the right direction I could attempt a PR.

[2020-07-27 06:32] Dreamersoul commented on #85
The code is pretty much self explanatory! You can start with message_container.dart line 91, this is the needed line to be changed

[2020-07-27 14:20] fayeed commented on #85
@albydarned `ChatUser` class has a property called `containerColor` which you can use to change the message box color for different users.

[2020-07-27 14:21] fayeed commented on #85
If you are looking to do like random message background color you could just use `messageBuilder` to randomly set the background color.

[2020-07-27 16:15] albydarned commented on #85
@fayeed Thanks... That might work for what I need. Is there a good way in messageBuilder to use the default message and only change the background color without having to rebuild the whole message component?

[2020-07-27 16:32] fayeed commented on #85
@albydarned  `ChatUser` class has a property called `containerColor` which you can set to change chat message background color.

[2020-07-27 21:02] mateus96mt opened #120 "Separating messages with the same date"
**Describe the bug**
Messages with the same date are being separated.

**Expected behavior**
Messages should be in the same block if date is the same.

**Screenshots**
![aS](https://user-images.githubusercontent.com/22008143/88591671-160bc100-d033-11ea-8a2d-e185d7366d1a.jpg)

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Device: SM A605GN
 - Flutter Version: 1.17.

[2020-07-28 09:55] sijangurung commented on #120
For this temporarily you can use mine forked version, I will be soon making PR for this issue. So that we can both use the original dash_chat with this feature on
`  dash_chat:
    git: https://github.com/sijangurung/dash_chat.git`

[2020-07-29 10:47] #85 closed

[2020-07-29 10:53] #118 closed

[2020-07-29 15:35] albydarned commented on #85
Although this has been closed, what @fayeed suggested also worked great for me. Just had to have some conditional code when I created my `List<ChatMessage>` to use different users with different `containerColor` attributes.

[2020-07-29 21:44] SebastienBtr commented on #120
Is this related to #47 ?

[2020-07-30 09:51] sijangurung commented on #120
For my usecase, since
if (currentDate == null) { currentDate = DateTime(widget.messages[i].createdAt.year, widget.messages[i].createdAt.month, widget.messages[i].createdAt.day)
uses only month, year and day ,
I need to separate the messages in hours and show date-label.

[2020-07-31 14:10] fluttercid commented on #120
I have same situation and when it happened, this message show up in a debug console.

════════ Exception caught by rendering library ═════════════════════════════════
Build scheduled during frame.
The relevant error-causing widget was
    DashChat-[LabeledGlobalKey<DashChatState>#e2ef9]
═════════════════════════════════════════════════════════════════

Are there any solutions?

[2020-08-01 00:05] SebastienBtr commented on #120
@sijangurung this is done like that on purpose, otherwise `currentDate.difference(messageDate).inDays != 0` wont work when there is not more than 24hours of difference even though it's not the same day

[2020-08-01 00:10] SebastienBtr commented on #120
@fluttercid or @mateus96mt can you provide a project repository to reproduce the issue?

[2020-08-01 16:20] gucci-quoci opened #122 "Error when typing messages and pressing the back button"
**Describe the bug**
After typing some messages if I click on the chat or press the back button I can't send messages anymore

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DashChat
2. Type some messages until you can scroll
3. Type on the DashChat or press the back button

**Expected behavior**
No error should occur and you can still send messages

**Screenshots**
n/a

**Desk

[2020-08-02 09:30] happygo15 opened #123 "help"
hey, can you help me I have tried this project but I am getting blank screen can you tell me why

[2020-08-02 09:52] happygo15 commented on #123
or I have to add some data to firestore before proceeding with the chat

[2020-08-02 20:55] #113 closed

[2020-08-02 21:16] SebastienBtr commented on #123
Unfortunately, your issue description doesn't give enough information for anyone to help you, please think about providing a clear description of what is not working and a way to reproduce your issue or a repository containing your code.

[2020-08-02 21:35] sijangurung commented on #120
@SebastienBtr
I understand that . So since i needed to group 1hour difference messages, I had made a quick fix in my repo.
Forked repo::
👇👇👇👇==============================================👇👇👇👇👇
https://github.com/sijangurung/dash_chat.git
on pubspec.yaml , just use:

dash_chat: git: https://github.com/sijangurung/dash_chat.git

[2020-08-03 05:52] #123 closed

[2020-08-05 13:08] fluttercid commented on #53
Hi all,
I stored messages and when I reopen chat window, it is stay on the top so I used scroll control.
Even though, it is not working properly. I mean last message behind on input bar.
Is there any solutions for this?
Thanks

[2020-08-07 08:55] edukun opened #124 "Date separator is wrong on inverted list"
**Describe the bug**
When inverted: true, date separator doesn't work as expected.

**To Reproduce**
- Add 2 messages, dates 2nd of August and 5th of August, current user
- Add one message, date 7th of August, other user

**Expected behavior**
Three different date separators, only found 2 and with wrong date

**Screenshots**
First screenshot, inverted: true, where the problem occurs.
![inverted_tr

[2020-08-07 09:21] edukun commented on #124
Changing the date of most recent message to two weeks ago, the problem shows too

![inverted_true_2](https://user-images.githubusercontent.com/1574284/89630745-11030900-d8a0-11ea-944a-dac2af56e0c4.png)

[2020-08-07 16:08] elgansayer commented on #117
Didn't realise there was a v2 coming.  I had a fair few issues with Dash due to performance and started to roll a complete UI system including a functioning backend. With all the features in the world. It's mostly done. The design uses overrides instead of builders.
Anyway!
Maybe we could collaborate?  I think ill be a week or three yet and have to build a while backend stream system example yet.

[2020-08-07 16:13] fayeed commented on #117
@elgansayer I have been planning it for a while now, so finally decided to build it, if you are interested in collaborating I have a rough spec draft for v2 you can check it on [google docs](https://docs.google.com/document/d/1kJfj3dy1DsIPAGF7ADMt5h38p9qKNTzJWu0LA58fj7M/edit?usp=sharing), I going to share it here for discussions later once it is finalized.

[2020-08-07 16:19] elgansayer commented on #117
@fayeed Very interesting. Perhaps I could collab, at least the test and backend system could be donated.

A fair bit of that list is already done and some others are very good ideas and some others are beyond the scope of my chat system.

I deleted the comment originally since I thought it may be a bit rude to say :D Hope that was ok.

[2020-08-07 16:23] fayeed commented on #117
@elgansayer No problem man, once I have finalized the spec I will create a new issue to discuss & share ideas with others & possibly look for more contributors too. If you have any ideas or suggestions feel free to share.

[2020-08-08 18:44] SebastienBtr commented on #120
@sijangurung okay I checked your code quickly but what you did is not really related to this issue and wont be merge as it is because it'll break the usage for everyone who want to have it by day and not hours. However, I'll create a feature request to add a date separator frequency param. A v2 of Dash Chat will be soon started, so this issue as well as the other issues and feature requests are go

[2020-08-08 18:49] SebastienBtr opened #125 "[Feature request] Add date separator frequency parameter"
**Describe the solution you'd like**
Currently the date separator is made to separate messages by days but as we can see in #120 discussion, some users may want to have it by hours.

[2020-08-09 01:56] fayeed commented on #125
It would be good to give some kind of control to the users.

[2020-08-09 03:03] fayeed commented on #17
Just finished a package [flutter_mentions](https://github.com/fayeed/flutter_mentions) will integrate with dash_chat when I get some free time.

[2020-08-10 02:20] AlokMishra01 opened #126 "[Feature request]Can you unread messages it will be really helpful."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-10 04:00] fayeed commented on #126
You can implement this yourself using the `customProperties` property of `ChatMessage`.

[2020-08-10 20:02] shashwatadi commented on #101
@peter-sg can you share your implementation? Thanks :)

[2020-08-11 02:49] fayeed commented on #101
@shashwatadi You can use `MessageBuilder` property it's a function and you will get the `ChatMessage` from it & then build a custom message widget using the value from the message and return it.

[2020-08-11 05:17] fayeed opened #127 "[v2] Dashchat v2 spec discussion"
# Dashchat v2.0

**Note**: This document is just for discussion purposes only, nothing has been finalized yet, if you have any suggestions that could help in improving the package feel free to let us know.

If you want to help with development do reach out to me or @SebastienBtr (you can find details on our Github profile)

## Goals
1. Change the API to make it more modular (See below the new API)

[2020-08-11 05:18] fayeed commented on #117
@elgansayer @mars3142 I have pinned #127 for discussion if you have some feedback you can let us know there.

[2020-08-11 06:22] #117 closed

[2020-08-11 07:36] SebastienBtr commented on #127
Maybe put this in a file so we can commit/PR change

[2020-08-11 09:50] aytunch commented on #127
Will v2 have its separate repo? And did you consider bloc/cubit for v2? It is very suitable state management solution for chat app.

[2020-08-11 16:01] Aynn opened #129 "Any examples on working outside of firebase?"
I am particularly stuck on figuring out the data structure for messages.

I am thinking the data from the server might look something like this:
` var data = "[ { \"createdAt\": 1, \"user\": { \"name\": \"John Doe\", \"text\": \"Hello there\" } } ]";`

and I am currently parsing it like so:
[code]
However I can't seem to get it right and don't have access to Firebase to see what their data.snapsho

[2020-08-11 18:24] Aynn commented on #129
Ended up just replacing my code with:
[code]

Working on the onSend method now.

[2020-08-12 02:40] fayeed commented on #127
@aytunch we will just create a separate branch for v2, as for state management solution we won't use any because I don't want to limit the package to anyone solution, though I was thinking of Adapter based approach where we could have adapters for different state management solutions to support it, we will see how it goes.

[2020-08-12 02:43] fayeed commented on #129
@Aynn `ChatMessage.fromJson` should work as expected, maybe you can check if the parsing works correctly by printing it as a string to console.

[2020-08-12 08:48] SebastienBtr commented on #129
You can do whatever structure you want in your database that suits your need/what seems scalable for you, and simply have an adapter in your Flutter app.

[2020-08-13 20:57] #126 closed

[2020-08-14 03:34] ryanhz commented on #129
I do make the example work outside of firebase with static data

[2020-08-14 03:36] ryanhz commented on #127
Hi, can you add bubble to the message box using this https://pub.dev/packages/bubble ?

[2020-08-14 06:55] fayeed commented on #127
@ryanhz I don't think we will add this because I want to keep as few dependencies as possible, but we will make the builders a little easier so implementing by yourself would be easier.

[2020-08-14 10:10] ryanhz commented on #127
I know your package is already fantastic.  Or we can add option to have the bubble nip or not, using the same way as bubble?  The bubble package is very simple compare to your package.

[2020-08-14 10:32] SebastienBtr commented on #127
@ryanhz Using Bubble internally wont really change anything, the package will provide a default design and if you want to override the dashchat message design you simply use the provided builder where you can of course use Bubble if you want

[2020-08-15 10:04] Dreamersoul commented on #129
I have integrated it with a rails backend using action cable, you just need to map the data from your backend to the appropriate class `ChatMessage`

[2020-08-17 13:11] fatkullinalina opened #130 "[Bug] Your title"
Hi, I'm not sure that it is a bug.
I have 2 problems
1.When I type a letter, list with messages scrolls and I don't see the last message.
2.When I close the chat ant then open again, I don't see the last message too.
These cases happen only when I have a lot of messages.
I attached pictures.
![first](https://user-images.githubusercontent.com/48031857/90399791-35cb5d80-e0a4-11ea-9a20-ca192e219391.p

[2020-08-17 21:07] SebastienBtr commented on #130
Hi @fatkullinalina, well, this is hard to help without knowing your code, this is your responsibility to handle how you send the messages to your backend, dash chat will simply show the messages your are passing it with the 'messages' param. If you have a project or a code snippet to share it'll be easier to help, I personally never had an issue like that.

[2020-08-18 05:59] shanazainab commented on #130
I am also facing the same issue. I think its not about how messages are sent to backend or retrieved. This is happening when the number of retrieved messages are high and when keyboard opens up, automatic scrolling to bottom is not happening.

[2020-08-18 09:44] SebastienBtr commented on #53
Hi @fluttercid, in that case you maybe have a margin issue, you can use `inputToolbarMargin` for that

[2020-08-18 09:48] SebastienBtr commented on #130
@shanazainab okay, but there is a difference between not scrolling to bottom and not having the message at all. If the issue is about the scroll to bottom, there is already #53 where you can find some solutions. However we'll not provide a "real" fix as we'll soon start to work on the v2. I'd also suggest to always fetch around 20 messages max and then use loadEarlier to fetch more messages when t

[2020-08-18 09:50] SebastienBtr commented on #130
@fatkullinalina can you confirm that your issue is related to the scroll as described by @shanazainab and in #53 ?

[2020-08-18 10:02] edukun commented on #124
@SebastienBtr any comments on this bug?

[2020-08-18 10:16] SebastienBtr commented on #124
it seems to appear only for the first message, I didn't have time to check the code so I don't know exactly why it happens. I'll check that when I have more time. There is multiple issues with the date separator apparently, I'd honestly suggest to maybe not use it and wait for the v2. Anyway your issue is maybe quick to fix so I'll keep you updated.

[2020-08-18 10:17] edukun commented on #124
Ok, thanks!

[2020-08-26 10:44] invipal commented on #127
I think, audio call and video call features with WebRTC will be nice .

[2020-08-26 12:55] fayeed commented on #127
@invipal I don't think we will add this as the goal of the package to provide a chat view, all this functionality will be left to users to implement. Thanks for the suggestions.

[2020-08-28 12:55] fluttercid commented on #53
Thank you for your answer @SebastienBtr
I tried your suggestion; however, it is not working.
I made a document for it.
[explain about situation.docx](https://github.com/fayeed/dash_chat/files/5142137/explain.about.situation.docx)

[2020-08-28 13:12] fluttercid commented on #127
Hi Fayeed,
I really thank you for your package.
I need to add a sentence case in user input box.
When will you release dash-chat v2?
Thank you.

P.S: Can I hide avatars both user and other users?

[2020-08-28 22:04] alfredjingle commented on #127
Thanks for the baller package. :+1: :champagne:

Tiny thing, and don't know if it will be applicable in v2, but if there are any hard-coded phrases like 'Copy to clipboard' can internationalisation be set up, so that the phrase can be change for non English language apps.

Thank you!

[2020-08-29 05:28] fayeed commented on #127
@fluttercid we haven't started working on it yet, but when we do it shouldn't take us more than 2 weeks. Also, you can hide user avatar only, if you want to this right now, you can use `avatarBuilder` and just return an empty `Container`.

[2020-08-29 05:31] fayeed commented on #127
@alfredjingle, we haven't looked at internationalization support, I think you are referring to the `onLongTap` on message which shows a bottom sheet, you can just override the method to call your custom modal.

[2020-08-31 00:19] ryanhz opened #132 "[Bug] The method 'markNeedsBuild' was called on null."
**Describe the bug**
Not a critical issue, It is from sentry report:
[code]

**To Reproduce**
I don't really how to reproduce this,  but this issue is quite common. I guess it is the user send message then navigate away from that page.

**Expected behavior**
A clear and concise description of what you expected to happen.
No error

**Screenshots**
device:  OPPO/CPH1823/CPH1823:9/PPR1.180610.011/159

[2020-09-02 21:21] shanaya-kanade commented on #42
Hi, I am also setting
 showUserAvatar: false,
                      showAvatarForEveryMessage: false,
but I still see Avatar for one user, what am I missing? I don't want to see any avatar.

Thanks, Shilpi

[2020-09-03 02:53] fayeed commented on #42
@shanaya-kanade Just use `avatarBuilder` and return an empty `Container` this should hide the avatar for eveyone.

[2020-09-03 15:02] shanaya-kanade commented on #42
Thank you so much @fayeed, that helped !

[2020-09-03 20:39] alfredjingle commented on #127
One more small suggestion: would it be possible to have the ability to add a marker in the list of messages which shows from which point there are unread messages?

I guess it would currently be possible with a custom message builder, but wondering if it would be worth adding a specific property for it.

[2020-09-06 02:50] fayeed commented on #127
@alfredjingle That's a good suggestion, I will most likely add this.

[2020-09-07 02:49] #93 closed

[2020-09-07 02:49] #95 closed

[2020-09-07 14:48] aytunch commented on #127
@fayeed is there support for unread message count on chats list screen? Also something like whatsapp's archived feature?

[2020-09-08 09:39] SebastienBtr commented on #129
I added in the v2 goals (in #127) to add examples with different databases

[2020-09-08 09:39] #129 closed

[2020-09-08 09:47] SebastienBtr commented on #122
I am not able to reproduce it

[2020-09-08 09:51] SebastienBtr commented on #102
Closing this for now because the author didn't respond

[2020-09-08 09:51] #102 closed

[2020-09-08 10:11] SebastienBtr commented on #127
@aytunch We can provide a variable that count the number of ChatMessage passed that don't have the status set to `read`.
Can you explain "whatsApp archived feature"? keep in mind that Dashchat is only providing the UI

[2020-09-08 16:11] aytunch commented on #127
@SebastienBtr What I mean by archived feature of whatsapp is when you are on the chat list screen you see the list of people you have chatted with recently at the top. If you scroll up(like a pull to refresh), you see the archived chats appear on top of the list if you have any. This is not as important as the unread message count but I wanted to throw it before v2 specs are set anyways

[2020-09-09 04:26] fayeed commented on #127
@aytunch This can easily be implemented by just counting the number of unread messages on your side, as you know there is a `status` property with every message which you can use to count, as @SebastienBtr mentioned we could provide a variable for Dashchat.

As for the archived message you can just use the `customProperties` property to indicate which message has been archived. I don't think we wi

[2020-09-09 08:30] SebastienBtr commented on #127
Yeah it doesn't seem like something we will implement, this package is for the UI of the chat room not the chat list.

[2020-09-09 17:34] Andresdn14 opened #134 "[Bug] App crashes when opening chat in release mode"
Right now I’m having an issue that for the moment there is no way I could find the possible reason. The thing is that when I’m in debug mode, the chat works perfect, beautiful and swift, but when I upload my app to testflight, the chat crashes almost immediately, sometimes, does not crashes immediately, but the input box disappears, then I touch where the input should be, and then it crashes.

I d

[2020-09-10 02:00] Andresdn14 commented on #134
It also works in a physical device when debugging

[2020-09-10 02:55] fayeed commented on #134
Have you tried the latest version for the package `1.1.15`

[2020-09-10 02:57] fayeed commented on #132
@ryanhz Can you check if you face the same issue in the new version `1.1.15`

[2020-09-10 03:21] ryanhz commented on #132
Thank you for following up.  We ignore this error in sentry.  I will try version 1.1.15 in next release.

[2020-09-10 06:15] Andresdn14 commented on #134
Ok I'll try

[2020-09-10 09:04] Andresdn14 commented on #134
@fayeed It didn't work even when updating the package.
I got to take a Screenshot without touching anything, before the crash.
Sometimes the chat does not crash immediately but this happens:
![image](https://user-images.githubusercontent.com/38304182/92707024-9869ef00-f31a-11ea-92d1-91cac792a197.png)

The input gets transparent, In debug mode the chat works perfect

[2020-09-12 09:03] Andresdn14 commented on #134
Hello, there's still no clue about what could be the reason for the crash on release?

[2020-09-12 12:10] fayeed commented on #134
@Andresdn14 I have never seen this issue before, there are lots of people using this package in production & never heard of this issue before. I was wondering do you see this issue on both Android & IOS or just IOS. Also, it would be great if you can share your code for Dashchat here.

[2020-09-12 13:46] vasth commented on #94
+1

[2020-09-13 03:25] Andresdn14 commented on #134
Just iOS, I have 2 apps (Doctors and patients), and the chat is crashing in both of them, in the iOS version o testflight.
Here's my code:

`
import 'dart:async';
import 'dart:io';

import 'package:cloud_firestore/cloud_firestore.dart';
import 'package:dash_chat/dash_chat.dart';
import 'package:doctor_pro_app/components/appbar.dart';
import 'package:doctor_pro_app/components/loader.dart';
import '

[2020-09-14 16:46] irfanbacker commented on #127
Adding support for system messages would be good. Something like a centered bubble similar to the date which can be used for situations like user joins and leavings.

[2020-09-14 16:51] irfanbacker commented on #127
Adding support for system messages would be good. Something like a centered bubble similar to the date which can be used for situations like user joins and leavings or major events in the chat.

[2020-09-15 05:38] Andresdn14 commented on #134
Ok, I think the problem was the edited input bar, so I removed every decoration, every difference between the example and the one in my code, and it worked, I don't know why that generated a crash in production.

Again, thanks for this package, I love it.

[2020-09-15 05:38] #134 closed

[2020-09-15 15:26] themadmrj commented on #127
When talking about a chat library, I think a good reference is this Android package :
[](https://github.com/stfalcon-studio/ChatKit)
All important functionnalities are there and easily customizable. I built a chat with audio, video, image, text, richtext, typing indicator, chat room, avatar+group avatar, message ordering & room ordering, new message badges with counter... Looking to do the same in

[2020-09-15 19:47] aytunch commented on #127
@themadmrj just making sure if you forgot to add the link to a package?

[2020-09-15 21:11] themadmrj commented on #127
my bad I updated it :)

[2020-09-15 21:57] Andresdn14 commented on #134
Specifically when adding inputToolbarMargin: `EdgeInsets.all(24)`

[2020-09-16 04:01] fayeed commented on #134
That's weird, don't know what's happening will have to take a look. Thanks for narrowing down the issue though @Andresdn14.

[2020-09-16 04:27] fayeed commented on #127
@irfanbacker That seems like a good feature we will definitely include it. @themadmrj The library you shared looks good, I will definitely keep it in mind while working on v2.

[2020-09-17 09:17] aytunch commented on #127
I just saw this package, do we have swipe to reply?

https://github.com/Purvik/SwipeTo

[2020-09-17 19:11] SebastienBtr commented on #127
@aytunch Yes we could add a swipe for the reply feature.
Dashchat already supports group chats.

[2020-09-17 19:51] jeffmiralles commented on #105
Hello, needed this also

[2020-09-19 23:10] kherld-hussein commented on #127
Kinda like the feature

[2020-09-20 15:17] arnelochner opened #135 "[Bug] setState called() after dispose()"
**Describe the bug**
When creating a DashChat Widget and disposing it before the scrollController finished its animation, setState is called after the animation is finished.
This leads to an unhandled expection.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to a Scafold page, where the DashChat widget is the child (to create a BackButton)
2. Immediately use the Backbutton (before

[2020-09-21 03:16] fayeed commented on #135
@arnelochner Have you tried v1.1.15?

[2020-09-21 07:35] NeoLSN commented on #127
Provide a way to re-use those message builders in customize builder.

[2020-09-21 13:32] arnelochner commented on #135
@fayeed Yes! Thanks.

[2020-09-21 13:32] #135 closed

[2020-09-24 13:51] nholmvio opened #136 "[Question] Usage within ExapansionTile"
Hello...

First thank you for this great package. I have implemented this fine on it's own page, and now trying to bring into an ExpansionTile(Expansion_tile_card from pub.dev to be exact).  I'm getting an error that i believe is closely connected with the PageStorageKey required for restoring scrolling with ExpansionTile and how this also works within Dash.  I'm using scrollcontroller based on ho

[2020-09-24 15:06] #136 closed

[2020-09-25 18:54] m-j-g opened #137 "[Question] Load Earlier Messages scrolling"
I'm curious how people handle the common scenario of loading earlier messages while maintaining the correct scroll position.

Example:
Scroll to the top > load earlier messages > Replace the messages in dash chat with 40 messages instead of the latest 20 > The 20 earlier messages load and push the old messages down. (of course in reality its just replacing all 40 messages and my scroll position is

[2020-09-25 20:35] prufect commented on #127
Maybe add a reacts feature? Like on facebook messager. Long press a the message to show a popup with emojis. Would be great to make it a builder so we can add our own custom emojis

[2020-09-29 10:38] ShivShankarT opened #140 "I am getting send as well as recieved message in same color and left direction?"

[2020-09-30 15:43] SubashManian commented on #53
![Scroll Issue](https://user-images.githubusercontent.com/45756921/94705961-40456c00-035f-11eb-999f-3eccd60a0e13.jpg)

i'm facing the same scroll issue in different scenario, whenever i try to open the dashchat or send a new message it stops before 1 or 2 recent messages, it's not fully scroll to bottom. This issue is happening for the scroll to bottom default button too. i'm using below line of c

[2020-10-01 14:57] giorgio79 commented on #127
Please provide Firebase sample integration, with proposed database structure and Firebase cloudstore security rules.
Could be tailored for various scenarios, like 1 to 1 chat, 1 to many, many to many.

Another project is already providing Firebase structure with security rules as well https://pub.dev/packages/flutter_firebase_chat_sdk

[2020-10-03 18:21] Amitbhave opened #141 "[Question] Is there any way for pull to refresh for DashChat?"
RefreshIndicator only works with ListView/SingleChildScrollView.
So is there any way for this functionality for pull to refresh for DashChat() widget?
@fayeed

[2020-10-04 19:25] Amitbhave commented on #141
I got the answer of this question. You can use StreamBuilder() for the same.

[2020-10-04 19:25] #141 closed

[2020-10-05 18:31] SebastienBtr commented on #140
Can you share your code maybe? that's not really possible to help you right now

[2020-10-05 19:59] SebastienBtr commented on #137
Hi! I had the exact same issue when trying to implement "load earlier" and my solution was to use "inverted: true" on the list (you will to fetch messages in the other order), that way the top of the screen is not 0 but an actual position that flutter will keep. It's working perfectly on my app.

[2020-10-07 03:20] fayeed commented on #140
@ShivShankarT That's most likely because you have the same user for both the messages, you should make sure that they don't.

[2020-10-07 03:20] #140 closed

[2020-10-19 06:51] marcuslindemannrohden opened #143 "[Question] Insert gif from giphy API instead of a text message."
Hello Guys,
I'm trying to find to change the text input from when the user tap at the text input, trigger a function to open a giphy picker instead of the default keyboard. Is it possible to do that? Any clues from where I could start?
Thanks!

[2020-10-31 10:20] farmery opened #144 "[Bug] text before input"
Ive been trying to make my text appear below the photo, but the "textBeforeImage" attribute doesnt work.

[2020-11-05 04:03] realjatinpandey opened #145 "Example code not working"
I copy pasted the example code and it has tonnes of errors. Please update that according to latest version of Firebase. After fixing many errors myself, still there is an error,
items.map((i) => ChatMessage.fromJson(i.data)).toList()
this line is giving an error
 Error: The argument type 'Map<String, dynamic> Function()'
can't be assigned to the parameter type 'Map<dynamic, dynamic>'.
 - 'Map' is

[2020-11-05 04:37] #145 closed

[2020-11-05 04:38] realjatinpandey commented on #145
error was in my code, closed the issue.

[2020-11-08 13:19] asantainnasa commented on #127
I love v1! Several features could improve it even further.
1. Search history search
2. option to automatically linkify text - i currently use linkify along with url_launcher

[2020-11-08 14:44] themadmrj commented on #127
what's the ETA on v2?
I will have to start my chat in january at the latest. I'll work on it full time. So either I make my own lib, or the v2 is in progress and I can take over several parts of it.

[2020-11-08 20:11] aytunch commented on #127
Will there be a new package for v2 or will it overwrite v1?

[2020-11-09 03:10] fayeed commented on #127
@themadmrj I am planning to start this month & @aytunch It will overwrite v1.

[2020-11-09 09:23] themadmrj commented on #127
lmk if you need help for something, can do anything except tests ^^

[2020-11-18 07:28] ayushin commented on #127
How about adding support for choosing a conversation/topic/request?

And perhaps adding backend plugins for tiledesk, chatwoot, chat21 and a few more out of the box or as separate sub packages?

We can contribute.

[2020-11-19 18:02] brianjohnson0123 commented on #127
I would recommend parameterizing the horizontal padding in the overall message window so that if set to zero, avatars or messages (if no avatars) would sit right up against the edge of the screen (in the example case of DashChat filling the screen)

if I am reading it correctly, it looks like a 2% of the overall width is being applied to the left and to the right padding currently.

[2020-11-23 08:08] jinfagang commented on #127
@fayeed  Hi Fay! thanks for your wonderful opensource this widget, it's really helpful! I have serveral questions and suggestions:

- questions:
1. when will v2 have a beta version?
2.  I want using it in a REAL chat app, that will introduce person2person chat, as well as group chat, will it support some group chat messages?

- sugesstions:
1. v1 is enough rich fuctional for me! if you have v2, ca

[2020-11-23 08:38] jinfagang opened #146 "[Bug] Possible bug about firestore package out of date API"
[code]

I am just cloned the repo, and my flutter is:

[code]

anybody knows how to solve it?

[2020-11-23 08:49] jinfagang commented on #146
I found the apps acutally seems out-of-date and examples  with some mistakes.

can author have a check please?

![image](https://user-images.githubusercontent.com/21303438/99943126-c3a59b80-2dab-11eb-9775-742882a73937.png)

Under examples main.dart L121:

[code]

It should be:

[code]

Otherwise the file even can't pass syntax examine.

[2020-11-30 18:30] diegogarciar opened #149 "Option to remove Textfield widget"
**Is your feature request related to a problem? Please describe.**
I am adding voice recording functionality, and I'm running out of space in the inputbar

**Describe the solution you'd like**
I would like to remove the textfield in that scenario to get space

**Describe alternatives you've considered**
I have tried removing the placeholder and current text in textfield, "slide to cancel" was adde

[2020-11-30 22:31] themadmrj commented on #127
@fayeed any news? I'd like to start working with it or on it :)

[2020-11-30 23:13] diegogarciar commented on #127
Hello,
As a request, support for audio messages would be nice. @fayeed I'm actually implementing it right now for production, if you want a PR with it in a later beta please let me know.

[2020-12-09 14:43] mustafapc19 commented on #53
I am also facing @SubashManian 's issue. Is there any hacky way to fix it?? And is there any documentation for how internals of this package works. I could help out maybe.

[2020-12-12 18:02] hafidzaini commented on #127
how about reply with quote feature? 🤔

[2020-12-13 02:46] angry-Bug opened #150 "[Performance] unnecessary rebuild causing laggy scroll"
When LoadMore is enabled then we are calling rebuild  for each little scroll. This is making the scroll laggy and jumpy.

`if (widget.shouldShowLoadEarlier) {
    if (topReached) { //-- here --
        setState(() {
            showLoadMore = true;
        });
    } else { //-- here --
        setState(() {
            showLoadMore = false;
        });
    }
}`

`if (topReached) {
      if(!showLo

[2020-12-13 13:50] marcoheine commented on #146
@jinfagang You have to initialize Firebase: https://stackoverflow.com/questions/64402222/no-firebase-app-default-has-been-created-call-firebase-initializeapp-the

[2020-12-14 08:33] Arnold-Papplic opened #151 "Avatar_Container"
Please fix the second Text ! If user.name.length >9 then use '' , but this is wrong.

`     Column(children: <Widget>[
                  Center(
                      child: Text(user.name == null || user.name.isEmpty
                          ? ''
                          : user.name.substring(
                              0,
                              user.name.length > 9

[2020-12-17 13:57] jinfagang commented on #151
@Arnold-Papplic  I think this repo can not be run at all... lots of syntax errors in code.

[2020-12-19 17:11] themadmrj commented on #127
I've created my own library, since the v2 was aiming to be a global refactor anyways.
More on [https://github.com/themadmrj/chat_ui_kit](https://github.com/themadmrj/chat_ui_kit).
I'll add more features in a bit. PRs are welcome.

[2020-12-21 02:54] jinfagang commented on #127
@themadmrj  Looks great ! Let's move on your repo for discussion and contribution, this repo seems not matinained and v2 is just a plan no one work on it.

[2020-12-22 16:03] m-j-g commented on #127
@themadmrj I like the initiative!  Are you planning on having test coverage for your kit, like is mentioned as a goal for dash_chat?  With PR's being welcome, I would think it should be mandatory in order to maintain a healthy package?

[2020-12-22 16:07] themadmrj commented on #127
@m-j-g that would be the ideal case. However, I have very little experience with tests (being self-taught), so ideally someone would get started on it to show the way!

[2020-12-22 16:09] SebastienBtr commented on #127
Thanks everyone for contributing to this discussion, a lot of good ideas!

[2020-12-22 16:17] SebastienBtr commented on #127
Thank everyone for contributing to this discussion, a lot of great ideas! I'll close it now as we have far enough ideas/spec, further discussion will be conducted when we launch an MVP. The first version of the v2 will be available in January and then features will be implemented incrementally, with hopefully some good feedback from the community 😀

[2020-12-22 16:17] #127 closed

[2021-01-06 19:20] ants07 opened #152 "Load earlier messages"
how do I load earlier messages?

for example, I have 2 people chatting, they close the chat and then return to the same chatroom to continue the convo.

Right now, every time I open the same chat room I get a blank page..

[2021-01-15 14:50] m-j-g opened #154 "2.0 Feature Request - "Like""
I noticed this wasn't in the list on the 2.0 thread.  Having the ability to "Like" a message makes a big difference in the amount of activity.  People don't always want to write up a response, and have grown accustomed to just "Liking" something to acknowledge it.

[2021-01-20 20:04] mdridley opened #155 "The argument type 'Map<String, dynamic> Function()' can't be assigned to the parameter type 'Map<dynamic, dynamic>'."
**Describe the bug**
Trying to get the example app working. Not sure how to get around this part though.

Getting it on this line for i.data:
var messages = items.map((i) => ChatMessage.fromJson(i.data)).toList();

[2021-01-20 20:08] diegogarciar commented on #155
is `I` a snapshot? you might need to do `i.data()` as it is a function that must be called

[2021-01-20 20:29] mdridley commented on #155
I am using the code directly from GitHub (and the example tab).

Thanks, that fixed that, but now hitting a bunch of runtime errors.

[2021-01-20 20:29] #155 closed

[2021-01-24 18:20] LostInDarkMath commented on #7
Hi, I just run into the same problem: I use `DashChat()` inside a `FutureBuilder` and get this error. Can you please explain how I can solve this issue? I don't exactly now what you mean with "separate dash chat into another class". @pricejiang

[2021-01-24 18:48] pricejiang commented on #7
Hi, what I did was wrapped `DashChat` into a separate `StatefulWidget` class so it will keep its own state and will not be refreshed by `FutureBuilder`.

[2021-01-24 18:50] LostInDarkMath commented on #7
Thank your very much for your fast answer! I'll try :+1:

[2021-01-24 20:21] LostInDarkMath commented on #7
@pricejiang Do you have a hint for me how I can set the state of the `DashChat` wrapper? I don't have any idea how to do this at the moment...

I mean, it has to look something like this:
[code]

I'm stuck here.

[2021-01-24 20:35] pricejiang commented on #7
Not sure about the context of your implementation, but the state of the `Chat` class should be managed by how your `FutureBuilder` populate data to it.

[2021-01-24 20:39] LostInDarkMath commented on #7
Finally, I found a solution for my problem. I decide to don't use `FutureBuilder` at all.

[2021-01-26 15:35] jerlyjelly opened #156 "[Feature request] Replying to your own message."
Sometimes you want to reply to your own message to remind others of the message that you sent.

Being able to reply to your own message will be good.

Not exactly sure if this is already considered for the v2 Reply feature.

[2021-02-01 15:34] m-j-g opened #157 "[Question] The state of the library, v2, and future status"
@SebastienBtr @fayeed
Hey guys, this isn't a negative, pushy question so please don't take it that way.  I'm trying to get a pulse for the health of the library or if this project is no longer alive?  It's been a while since there has been any update and so I'm not sure if that's bc not much is happening or bc it just hasn't been communicated.

Thanks for everything, just trying to make our own ro

[2021-02-02 10:27] fayeed commented on #157
Hi, I am glad to see that there is so much interest in the package even though it is not being maintained for quite some time now. I would also like to acknowledge that not much has been communicated from my side or I have not been able to work on it more, I know the first plan for v2 was communicated more than 9 months ago to the users of the package and nothing more has happened since then. The

[2021-02-02 13:40] m-j-g commented on #157
@fayeed
Congrats on graduating and landing a job!  Thanks for letting us know what's going on and for all the work you put into v1.

[2021-02-04 16:29] ritheshSalyan commented on #53
One workaround is to use a small delay after sending message and then scroll
[code]

[2021-02-05 11:59] Tamerlanchiques commented on #157
Also interested in v2. Hope you will do it one day!

[2021-02-05 12:09] SebastienBtr commented on #157
I've also been busy recently, in my current company we are using the v1 in production but the chat feature was not our priority and the updates on it got delayed, however, we should soon work on it again. My plan is also to align the needs of my company on the chat feature with the work on the v2, the v2 is gonna happen at some point for sure 😅

[2021-02-19 20:19] BJRichardsAZ opened #161 "Customized Font Sizes"
Hello, I wanted to reach out to see if I could maybe get some help on an issue regarding changing the style of the text in the messages dash chat generates. In our project we are using dashchat to help connect senior citizens with other users of the app; to make it more accessible we wanted to be able to increase the font size for all text fields on the chat widget. However  the only easily access

[2021-03-04 06:58] LostInDarkMath opened #163 "[Bug] DashChat is incompatible to Flutter v2.0.0"
**Describe the bug**
I upgraded to Flutter v2.0.0 and after that I get a version solving problem, since `flutter_localizations` depends on `intl` 1.7.0, which is currently not supported by dash_chat.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Flutter 2.0.0
2. Create a project with at least this depencies:
[code]
2. Run `flutter pub get`
3. See error
[code]

If I set `intl` to 1.

[2021-03-04 15:43] diegogarciar commented on #163
@LostInDarkMath I created my own branch just for this. I just updated the dependencies, but we need to migrate this package to null safety. I can try but might take me a while, is there someone else more determine on migrating as this package to null safety? It might not be updated by the author as he is not working on the package full time anymore.

[code]

[2021-03-04 16:17] diegogarciar commented on #163
Never mind, I started, expect a pull request later today.

[2021-03-04 17:40] diegogarciar commented on #163
I have submitted the pull request, you can use my branch in the meantime at https://github.com/diegogarciar/dash_chat

I literally spent on it the time diff between my comments. I tested the example on iOS and it worked, please test it on your implementation rigorously and let me know if there's a bug.

[2021-03-04 21:44] jonchui opened #165 "[Feature request] Any plans to support null_safety?"
**Is your feature request related to a problem? Please describe.**
We are looking to use DashChat in a sendbird-backe chatting app, and want to migrate to `null-safety`. https://dart.dev/null-safety/migration-guide

But according to the migration guide, ☝️ , it says all our dependencies need to support it first.

**Describe the solution you'd like**
Migrate DashChat to null-safety using `dart migr

[2021-03-05 07:08] shah-xad commented on #127
It's march, where's the v2??

[2021-03-05 15:08] diegogarciar commented on #165
Hello @jonchui
I have submitted a pull request, you can use my branch in the meantime at https://github.com/diegogarciar/dash_chat

Please test it and let me know if theres an issue

[2021-03-06 17:19] jonchui commented on #165
Amazing!!! 🙏 will test next week when back in office.

FYI @Rachel @Jon

Jon Chui | YwamKona.org ( http://YwamKona.org ) | http://jonchui.com | @jonchui ( http://twitter.com/jonchui )

life verse: Matt 13:44 | our family blog @ vickiandjon.com ( http://vickiandjon.com ) | ping me if you have exciting freelancing projects ;) | 424-241-2484

Sent via Superhuman iOS ( https://sprh.mn/?vip=jon.chui@gm

[2021-03-09 15:36] xSuperMu opened #167 "[Feature request] 'File' attachments"
**Describe the solution you'd like**
It would be a great addition to the library if you added File-attachment, not only a picture.

I have a UI suggestion:
![Screen Shot 2021-03-09 at 5 33 13 PM](https://user-images.githubusercontent.com/17935590/110495800-89af9980-80fd-11eb-9a33-97df08c9d280.png)

upon clicking the plus button, a pop-up menu shows up, and suggests something like:
attachment type:

[2021-03-12 06:41] fayeed commented on #165
@jonchui Package is updated to `1.1.15-nullsafety`, thanks to @diegogarciar.

[2021-03-12 06:41] #165 closed

[2021-03-12 06:41] fayeed commented on #163
@jonchui Package is updated to `1.1.15-nullsafety`, thanks to @diegogarciar.

[2021-03-12 06:41] #163 closed

[2021-03-12 06:43] diegogarciar commented on #163
You're welcome anytime @fayeed, and if you need help in the future, please let me know.

[2021-03-12 06:45] diegogarciar commented on #163
Btw, I think its better if you also release a `2.0.0` without `-nullsafety`

[2021-03-12 06:47] fayeed commented on #163
Yeah, I am planning to release an alpha version soon for the v2.

[2021-03-12 06:57] jinfagang commented on #163
@fayeed is there a timeline of releasing v2?

[2021-03-12 07:02] diegogarciar commented on #163
I meant that by adding null safety, you should release a major version number change, I didn't mean your planned version for V2, I suggest should either call it v3 or just bump the new one to 1.2.0.

[2021-03-12 07:03] fayeed commented on #163
@jinfagang You can expect an alpha version in 2 to 3 weeks.

[2021-03-12 07:09] fayeed commented on #163
@diegogarciar makes sense I will release `1.2.0` in an hour or two.

[2021-03-15 21:00] abegehr opened #168 "[Bug] firebase_auth >=1.0.1 is incompatible with dash_chat ^1.1.15"
**Describe the bug**
The latest version of dash_chat is incompatible with the latest flutterfire, specifically firebase_auth >=1.0.1

**To Reproduce**
Start a new project and add these dependencies:

[code]

**Expected behavior**
dash_chat is compatible with the latest and greatest of Flutter 2 and flutterfire.

**Desktop (please complete the following information):**
 - OS: macOS
 - Device: iPhon

[2021-03-16 03:16] fayeed commented on #168
Use version `1.1.15-nullsafety`

[2021-03-16 03:16] #168 closed

[2021-03-17 01:38] diegogarciar commented on #146
Hello, with latest version the example has been fixed to support lates Firestore API.

[2021-03-18 07:48] do4Mother opened #169 "[Bug] Can't send message when change the text value from TextEditingController"
**Describe the bug**
Can't send message when change the text value from TextEditingController

**To Reproduce**
Steps to reproduce the behavior:
1. Change textfield value using dashchatkey.currentState.textEditingController
2. press send button

**Expected behavior**
it should be still can send message event the text value is changing from TextEditingController

**Desktop (please complete the foll

[2021-03-19 09:02] jinfagang commented on #157
@SebastienBtr Can it arrive a alpha version at the end of March?

[2021-03-25 07:27] WilliamZheng99 opened #170 "In chatroom, Avatar may be shown not properly"
I wrote the onAvatarPressed function myself in DashChat and noticed that:

(1) When I click on the avatar I want to click, sure, the effect I want is triggered (show the user's profile in my implementation).

(2) When I click on the position symmetric to the phone's vertical middle line on the screen, (i.e. the same column of mine avatar in the same row of the other user's avatar I want to click),

[2021-03-26 01:36] diegogarciar commented on #169
I had the same issue.
I think resolved it with something like this:
`textController: textController,
                text: textController.text,`

[2021-03-26 01:37] diegogarciar commented on #169
It was either that or just declaring an empty onTextChanged

[2021-03-29 17:37] WilliamZheng99 commented on #170
Can I have any update?

[2021-04-01 14:31] jinfagang commented on #127
@SebastienBtr It's April, where's the v2?

[2021-04-01 14:32] jinfagang commented on #157
@SebastienBtr when will v2?

[2021-04-14 13:40] jinfagang opened #171 "[Bug] When will v2 release?"
It's April now, very soon be May, when will v2 release?E

[2021-04-19 03:41] AllenKaplan commented on #171
If you read #157 you can see @fayeed and @SebastienBtr have been busy. As they are doing this out of their goodwill, I suggest you not press them to release it.

From what I have seen, you've asked numerous times in this repository when it will be released, but perhaps you should be asking what you can do to help since it seems you are very passionate about this project being updated and maintaine

[2021-04-19 11:35] jinfagang commented on #171
@AllenKaplan Yes, I am need this project. But I don't know where to start help?

[2021-04-19 11:37] #171 closed

[2021-04-22 21:11] jalakoo commented on #89
I also get this exception as well. Anyone know the cause or have a fix for it?

[2021-05-04 14:30] m-j-g commented on #157
I think it's time to call time of death.  There is another library that may meet your needs for those interested https://github.com/themadmrj/chat_ui_kit

[2021-05-05 08:40] jinfagang commented on #157
@m-j-g I just using that lib, it's wonderful except author might a little bit bored with users issues @Tamerlanchiques

[2021-05-12 01:07] m-j-g commented on #157
Thanks for the heads up. Also came across this one for anyone interested. https://pub.dev/packages/flutter_chat_ui

[2021-05-18 18:23] JechtTyre opened #173 "[Bug] Old Chat messages are not aligned with sender to the right"
**Describe the bug**
- When you load old chat messages on DashChat, the old messages of the sender appear aligned with the messages to the left. This means chat messages of the sender's phone and messages from other people in chat all show to the left together in a column. Only newly sent messages appear aligned correctly to the right and opposite side of the screen.

**To Reproduce**
Steps to rep

[2021-05-28 15:43] RegisSaffi opened #174 "[Question] Does this have null safety?"
I know it is no longer in development, but I recently migrated my app to null safety and parsed_text which this library depends on was causing problems, My chat implementation was working properly before migrating, I want to know if there is official implementation of null safety for this library because I can't see it in pub.dev and the one I downloaded `dash_chat: ^1.1.15-nullsafety` has problem

[2021-05-28 20:48] lisamartin00 opened #175 "[Question] Why is it necessary for scrollNotificationFunc to always return true?"
Based on our debugging this morning, our team believes we cannot wrap `DashChat` with `RefreshIndicator` because `scrollNotificationFunc` returns `true` for the `NotificationListener`'s `onNotification`.  This essentially suppresses scroll events and prevents them from bubbling up.

We are currently on a fork and can flip this to `false` for our own needs, but I'm curious:
1) Why does this return

[2021-05-29 03:12] fayeed commented on #174
You should try 1.1.16

[2021-05-29 03:13] fayeed commented on #174
Also if you are interested there is a v2 branch with new changes if you are willing to try it.

[2021-05-29 05:48] RegisSaffi commented on #174
Hey, I wasn't willing to try new v2 just yet because I was not doing any new development, just upgrading the app to null safety, that's all.

This is the error I am getting whenever messages list is not empty:

`======== Exception caught by widgets library =======================================================
The following StateError was thrown building ParsedText(dirty):
Bad state: No element

[2021-05-29 06:31] fayeed commented on #174
Hey, I just tested this on v1.1.16 and can't reproduce this.

[2021-05-29 07:43] fayeed commented on #173
The way the alignment works is that I can check for the user's id with each message if the id matches it will be aligned to the right and if not to the left, so in your case, the messages might not have the correct id of something similar to this.

[2021-05-31 04:28] Dararii commented on #174
I also encountered this problem after upgrading to 1.1.16. Plan to downgrade to 1.1.15 again after the issue has been resolved.

[2021-06-03 12:34] edukun opened #176 "1.1.16 cannot show emojis"
1.1.16 break emojis. If you try to load a message with an emoji, you get this error:

invalid argument(s) string is not well-formed utf-16

Rolling back to 1.1.15 fixes the problem. With this configuration:

dependencies:
   dash_chat: 1.1.15
dependency_overrides:
   intl: ^0.17.0
   uuid: ^3.0.0

[2021-06-11 00:20] oneshoot41 commented on #176
Any fix here ? Really need that 1.1.16 cause working with both dash_chat and flutter_parsed_text 2.2, 1.1.15 need flutter_parsed_text 1.1 which not work with my current code.

[2021-06-14 17:12] attachi20 opened #177 "how to use flutter dash_chat with dialogflow?"
How to show rich message like Google-Assistant-output Basic Card on Flutter app with dash chat

[2021-06-17 15:28] attachi20 opened #178 "why dash_chat support 3 Quick Replies limited at 3? in flutter any idea"
ChatMessage ddd = ChatMessage(
      text: "gg",
      quickReplies:QuickReplies(
        values: <Reply>[
          Reply(
            title: "😋 Yes",
            value: "Yes",
          ),
          Reply(
            title: "😞 fff. What?",
            value: "no",
          ),
          Reply(
            title: "😞 rrr. rrr?",
            value: "no",
          ),
          Reply(
            t

[2021-06-17 15:31] attachi20 opened #179 "how i use flutter_dialogflow with dashchat to my app flutter"

[2021-07-05 08:03] Johan-glitch1412 commented on #176
@fayeed Any updates on this?

[2021-07-11 06:34] ridwan-aswan opened #180 "Can't open chat emoji dash_chat: ^1.1.16"
can you help with this problem, i am getting error when sending message with emoji.
thanks.

======== Exception caught by rendering library =====================================================
The following ArgumentError was thrown during performLayout():
Invalid argument(s): string is not well-formed UTF-16

[2021-07-13 02:28] Rexios80 commented on #176
Bump. I was planning on making my own chat interface anyways but having one that works in the meantime would be nice. @Johan-glitch1412 the fix you mentioned doesn't work for me.

[2021-07-19 15:13] 4mitabh commented on #180
any workaround for this ?

[2021-07-20 13:27] faran08 commented on #180
Also waiting for a fix.

[2021-08-02 10:50] YaseenSaif opened #181 "does the package support sending videos and files ?"

[2021-08-05 05:40] timorss commented on #102
Any news?
In case of a chat bot, there are a few questions with different answers,
What is your email, age, phone number, etc..
So for age for example we need a keyboard of type number.

[2021-08-06 20:02] azazadev commented on #161
Hi @BJRichardsAZ : you can override style like this :
[code]

[2021-08-19 09:10] kiloki-official opened #182 "[Feature request] Your title"
Hi, how can I set the colour of the message bubble based on whether the user is one user or the other.

messageContainerDecoration would work but it is not a builder.

Thanks

[2021-08-19 17:44] resie001 opened #183 "[Question] about messageTextBuilder"
![Screenshot_20210820_004347](https://user-images.githubusercontent.com/53486681/130118220-2d66a71d-a46b-48c5-b12d-4f300bde1fa7.jpg)
how to solve this? I'm new to Flutter 2.

[2021-09-03 10:23] jinfagang opened #184 "does 2.0 release?"
does 2.0 release?

[2021-09-06 06:21] Faaatman opened #185 "[Bug] default DateBuilder is wrong when scrolling"
**Describe the bug**
Dates are shown correctly between messages but when scrolling their places change moving to the bottom.

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll up
2. Scroll down back to the bottom
3. Dates then will be wrong

**Expected behavior**
Dates shouldn't have changed.

**Screenshots**
[correct dates](https://imgur.com/a/MBk3Nid) and these are the [dates after scr

[2021-09-07 06:57] Faaatman opened #186 "[Feature request] ListView.custom to prevent widgets from rebuilding"
**Is your feature request related to a problem? Please describe.**
Whenever I add an item to the list of widgets the widgets rebuild including the one with an audio player causing it to stop playing.
related to https://github.com/flutter/flutter/issues/58917

**Describe the solution you'd like**
Change the ListView.builder to ListView.custom to preserve the state of the old widgets.

**Additional

[2021-09-15 13:40] Heloore commented on #183
Facing the same issue. Cannot override this func, since it needs ChatMessage to be constant, which is not possible since it dont even have any constant constructor. Please suggest

[2021-09-17 18:01] denes16 commented on #127
Its september, any news?

[2021-09-17 18:06] m-j-g commented on #127
For those who end up here looking for an update. This package is no longer being worked on. I switched to flyer chat which has been quite nice:
https://github.com/flyerhq/flutter_chat_ui

[2021-09-20 12:38] SebastienBtr commented on #127
I started working on the v2 and pushed it here: https://github.com/molteo-engineering-team/Dash-Chat-2, there is no documentation yet and it's not 100% done but the core features are there. Feel free to take a look/try it. (It's not published yet as it's not done but you can still try it by added the repo link in your dependencies)

I obviously have a lot of other things on the plate but I'm tryin

[2021-09-20 12:39] SebastienBtr commented on #184
I started working on the v2 and pushed it here: https://github.com/molteo-engineering-team/Dash-Chat-2, there is no documentation yet and it's not 100% done but the core features are there. Feel free to take a look/try it. (It's not published yet as it's not done but you can still try it by added the repo link in your dependencies)

I obviously have a lot of other things on the plate but I'm tryin

[2021-09-20 12:40] SebastienBtr commented on #157
I started working on the v2 and pushed it here: https://github.com/molteo-engineering-team/Dash-Chat-2, there is no documentation yet and it's not 100% done but the core features are there. Feel free to take a look/try it. (It's not published yet as it's not done but you can still try it by added the repo link in your dependencies)

I obviously have a lot of other things on the plate but I'm tryin

[2021-09-20 13:43] denes16 commented on #127
On, october, we will start building an app, do you recommend to use the version 1 for prod or the version 2, or flutter_chat_ui? Thx

[2021-09-22 08:21] dmacan23 commented on #184
Do you at least have a rough estimate on when v2 will be published? We're considering on using dash_chat in our app, and the chat module is scheduled to be built around December.

[2021-09-22 09:19] kandarp-prakash commented on #180
Any update on it ?

[2021-09-22 09:37] krunaldoshi2019 commented on #180
Also waiting for a fix.

[2021-09-22 10:53] DaveKandarp commented on #180
version 1.1.6
due to ParsedText issue

follow below steps:
create your fork and change in below class
lib/src/widgets/message_container.dart : 170
Method -> _buildMessageText
Text instead of ParsedText

[2021-09-26 11:29] SebastienBtr commented on #184
@dmacan23 I published a first version: https://pub.dev/packages/dash_chat_2

[2021-09-26 11:32] SebastienBtr commented on #127
@denes16 I would recommend using the v2, the v1 is not maintained anymore

[2021-10-13 04:15] pratamarama commented on #185
same here

[2021-12-23 02:41] simon-zhangmuye commented on #184
May I ask when dash chat v2 will be released?

[2021-12-23 12:39] SebastienBtr commented on #184
Hey, look at my message above, I published a first version already, it still needs some work though

[2021-12-29 06:20] alexkmbk opened #190 "[Question] Is it possible to send a new message programmatically?"

[2022-01-06 18:41] usaikoo opened #191 "How to show sender name or auth anme in massage box list?"
How to show sender name or auth anme in massage box list? I found no option for it. Thanks

[2022-01-09 15:04] bouhlal opened #192 "[Feature request] Voice"
Hello
Could you add voice message and audio/video chat ?
Best regards

[2022-01-13 07:04] h3llH0undX opened #193 "Invalid image data"
i changed avatar images and also the database images showing properly but i'm getting this error and can't solve it anyone know whats the issue

[2022-03-03 02:46] harithwick opened #194 "Null check operator used on a null value"
got this error after upgrading the app to NULL SAFETY. Issue is at chat_view.dart line 459

======== Exception caught by foundation library ====================================================
The following _CastError was thrown while dispatching notifications for ScrollController:
Null check operator used on a null value

When the exception was thrown, this was the stack:
#0      DashChatState.wi

[2022-07-18 14:21] #38 closed